﻿<footer id="footer-checkout">
    <div id="footer-institucional">
        <div class="container">
            <div id="footer-payments" class="d-md-flex justify-content-between row-institucional-labels">
                <div class="col-payments">
                    <h5 class="title-footer">Formas de Pagamento</h5>
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item">
                            <img src="/arquivos/flags-payments.png?v=636705297739670000" alt="bandeiras de pagamentos">
                        </li>
                    </ul>
                </div>
                <div class="col-security">
                    <h5 class="title-footer">Site Seguro</h5>
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item">
                            <img src="/arquivos/flags-security-ssl.png?v=636705297769600000" alt="selo de segurança ssl">
                        </li>
                        <li class="list-inline-item">
                            <img src="/arquivos/flags-security-pci.png?v=636705297749600000" alt="selo de segurança pci">
                        </li>
                        <li class="list-inline-item">
                            <img src="/arquivos/flags-security-reclameaqui.png?v=636705297759700000" alt="selo de segurança reclame aqui">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-copyright">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
                <div>
                    <h5>Código de Defesa do Consumidor</h5>
                    <p>
                        MERCOCAMP COMÉRCIO INTERNACIONAL SA – Rod. BR 101 Norte Contorno, S/N, KM 279 – Bairro TIMS – Cidade: Serra – CEP: 29161-382
                        <br> Telefone: +55 (27) 2122-7170 | CNPJ: 05.521.163/0001-33. Todos os direitos reservados. É vetada
                        a reprodução, total ou parcial deste website.
                        <br> Preços e condições de pagamentos válidos exclusivamente para compras pelo website.
                    </p>
                </div>
                <div id="footer-signature">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item">
                            <a href="https://vtex.com" target="_Blank" title="VTEX">
                                <img src="/arquivos/logo-vtex.png?v=636705297519700000" alt="VTEX" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://admake.com.br" target="_Blank" title="Admake">
                                <img src="/arquivos/logo-admake.png?v=636705297499830000" alt="Admake" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" target="_Blank" title="Merco Camp Group">
                                <img src="/arquivos/logo-mc.png?v=636705297509770000" alt="Merco Camp Group" class="img-fluid">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>