<div id="header-checkout">
    <div class="container">
        <div class="content align-items-center justify-content-between">
            <div class="col-logo">
                <a href="/" title="Merco Store" id="logo">
                    <img src="/arquivos/logo.png" alt="Merco Store" class="img-responsive" />
                </a>
            </div>
            <div class="col-contact hidden-xs hidden-sm">
                <ul class="list-unstyled list-inline">
                    <li>
                        <span class="icon">
                            <i class="icon-phone"></i>
                        </span>
                        <span class="text">
                            Contato
                            <a href="tel:+08002003090">0800 200 3090</a>
                        </span>
                    </li>
                    <li>
                        <span class="icon">
                            <i class="icon-envelope"></i>
                        </span>
                        <span class="text">
                            Email
                            <a href="mailto:contato@mercostore.com.br">contato@mercostore.com.br</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>