@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/** VARIABLES **/
/** DEFAULTS **/
/**  THEME  **/
/* line 3, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_placeholders.scss */
.btn.btn-primary, .btn.btn-secondary, .cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon .link-coupon-add, .cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon #cart-coupon-add, .cart-template .summary-template-holder .summary-totalizers table .shipping-calculate td.monetary.form-postal-code > .summary-shipping button, .cart-template .cart-links-bottom .link-choose-more-products-wrapper > a, .orderform-template .orderform-template-holder #shipping-data #change-other-shipping-option, .orderform-template .mini-cart #go-to-cart-button a, .btn.btn-success {
  padding: 10px;
  text-align: center;
  letter-spacing: 0.2px;
  font-weight: 700;
}

/* line 10, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_placeholders.scss */
.page-title, .cart-template .cart-template-holder .empty-cart-content .empty-cart-title, form.client-pre-email .pre-email h3 span, .orderform-template .orderform-template-holder .accordion-group .accordion-heading .accordion-toggle span, .orderform-template .mini-cart h2, #orderform-title,
#orderform-sac-title,
#cart-title {
  font-weight: 500;
  letter-spacing: 0;
}

/* line 15, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_placeholders.scss */
p, #header-checkout .col-contact ul li .text, .cart-template .cart-template-holder .empty-cart-content p, .cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon label, form.client-pre-email .link-cart a, .orderform-template .orderform-template-holder .accordion-group label, .orderform-template .orderform-template-holder #shipping-data #billing-address .content h4, .orderform-template .orderform-template-holder #shipping-data .address-shipping-options h4 span:not(.products-from-seller-container):not(.products-from-seller), .orderform-template .mini-cart .summary-cart-template-holder ul li .shipping-date {
  color: #5A5E67;
  letter-spacing: 0;
  line-height: 21px;
}

/* line 87, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_placeholders.scss */
.align-items-center, .cart-template .cart-links-bottom {
  -ms-flex-align: center !important;
  align-items: center !important;
}

/* line 92, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_placeholders.scss */
.justify-content-between, .cart-template .cart-links-bottom {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

/** DEFAULTS **/
/* line 137, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_placeholders.scss */
a, a:link, a:visited, a:hover, a:active, .orderform-template .orderform-template-holder #shipping-data #billing-address #address-toggle-0 ~ div, .orderform-template .orderform-template-holder #payment-data .payment-group .payment-group-item:after {
  transition: 300ms all;
}

/* line 153, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_placeholders.scss */
ul.list-unstyled, ul.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 160, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_placeholders.scss */
.btn {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none !important;
  line-height: 1rem;
  cursor: pointer;
  background: transparent;
  border-radius: 0;
}

/** RESETS **/
/* line 2, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_resets.scss */
body {
  line-height: 1;
}

/* line 5, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_resets.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 21, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_resets.scss */
:focus {
  outline: 0 !important;
}

/* line 22, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_resets.scss */
a, a:link, a:visited, a:hover, a:active {
  text-decoration: none !important;
}

/* line 26, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_resets.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 27, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_resets.scss */
th, td {
  text-align: left;
  font-weight: normal;
}

/* line 28, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_resets.scss */
img, iframe {
  border: none;
  text-decoration: none;
}

/* line 29, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_resets.scss */
ol, ul, ul li {
  list-style: none;
}

/* line 30, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_resets.scss */
input, textarea, select, button {
  font-size: 100%;
  font-family: inherit;
}

/* line 31, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_resets.scss */
select {
  margin: inherit;
}

/* line 32, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_resets.scss */
hr {
  margin: 30px 0;
  padding: 0;
  border: 0;
  color: #E1E1E1;
  background-color: #E1E1E1;
  height: 1px;
}

/* line 33, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_resets.scss */
div#ajaxBusy {
  display: none !important;
}

/** FIM RESETS **/
/* line 1, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_classes.scss */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0062A9;
}

/* line 6, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_classes.scss */
a {
  color: #043B63;
}

/* line 8, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_classes.scss */
a:hover {
  color: #0062A9;
}

/* line 15, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_classes.scss */
.btn.btn-primary {
  background-color: #043B63 !important;
  color: #fff;
  font-size: 18px;
  width: auto;
  height: auto;
}

/* line 61, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_mixin.scss */
.btn.btn-primary:hover, .btn.btn-primary:active {
  background-color: #032c4a !important;
}

/* line 18, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_classes.scss */
.btn.btn-secondary {
  background-color: #F2F2F2 !important;
  color: #0062A9;
  font-size: 18px;
  width: auto;
  height: auto;
  font-weight: 600;
}

/* line 61, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_mixin.scss */
.btn.btn-secondary:hover, .btn.btn-secondary:active {
  background-color: #e5e5e5 !important;
}

/* line 22, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_classes.scss */
.btn.btn-lg, .btn.btn-large {
  padding: 15px 40px;
}

/* line 27, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_classes.scss */
.inline-middle > span {
  display: inline-block;
  vertical-align: middle;
}

/* line 32, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_classes.scss */
.page-title {
  font-size: 24px;
  color: #000000;
  line-height: 32px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  /* line 32, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_classes.scss */
  .page-title {
    font-size: 25px;
  }
}

/** DEFAULTS **/
/* line 45, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_classes.scss */
.reset-box-banner .box-banner img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* line 54, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_classes.scss */
.d-inline-block {
  display: inline-block !important;
}

/* line 7, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_mergeBootstrap.scss */
ul.list-inline li {
  display: inline-block;
}

/* line 13, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_mergeBootstrap.scss */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 24, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_mergeBootstrap.scss */
.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

/* line 37, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_mergeBootstrap.scss */
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

/* line 42, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_mergeBootstrap.scss */
.d-none {
  display: none !important;
}

@media (min-width: 992px) {
  /* line 47, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_mergeBootstrap.scss */
  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 768px) {
  /* line 54, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_mergeBootstrap.scss */
  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 576px) {
  /* line 61, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_mergeBootstrap.scss */
  .d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media only screen and (max-width: 767px) {
  /* line 68, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_mergeBootstrap.scss */
  .hidden-xs {
    display: none !important;
  }
  /* line 71, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_mergeBootstrap.scss */
  body .container {
    padding: 0 15px !important;
  }
}

@media only screen and (max-width: 991px) {
  /* line 77, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_mergeBootstrap.scss */
  .hidden-sm {
    display: none !important;
  }
}

/* line 1, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_header.scss */
#header-checkout {
  padding: 7px 0 14px;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 35px;
  background: #0062A9;
}

/* line 7, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_header.scss */
#header-checkout .col-logo {
  text-align: center;
}

/* line 12, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_header.scss */
#header-checkout .col-contact ul li {
  padding: 0 25px;
}

/* line 14, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_header.scss */
#header-checkout .col-contact ul li .icon, #header-checkout .col-contact ul li .text {
  display: inline-block;
  vertical-align: top;
}

/* line 18, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_header.scss */
#header-checkout .col-contact ul li .icon {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}

/* line 25, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_header.scss */
#header-checkout .col-contact ul li .icon i {
  color: #fff;
  font-size: 20px;
}

/* line 30, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_header.scss */
#header-checkout .col-contact ul li .text {
  font-size: 14px;
  color: #fff;
}

/* line 33, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_header.scss */
#header-checkout .col-contact ul li .text a {
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  margin-top: 1px;
}

@media only screen and (min-width: 1200px) {
  /* line 11, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_header.scss */
  #header-checkout .col-contact ul {
    margin: 0 -25px;
  }
}

@media only screen and (min-width: 992px) {
  /* line 52, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_header.scss */
  #header-checkout .content {
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

/* line 1, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
#footer-checkout {
  margin-top: 50px;
}

/* line 3, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
#footer-checkout #footer-institucional {
  padding: 25px 0;
  background: #F2F2F2;
}

/* line 6, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
#footer-checkout #footer-institucional .title-footer {
  font-weight: 500;
  font-size: 18px;
  color: #3E4042;
  letter-spacing: 0;
  margin-bottom: 20px;
}

/* line 14, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
#footer-checkout #footer-institucional #footer-payments ul {
  margin-right: -6px;
  margin-left: -6px;
}

/* line 17, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
#footer-checkout #footer-institucional #footer-payments ul li {
  margin: 0 6px;
  vertical-align: middle;
}

/* line 25, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
#footer-checkout #footer-copyright {
  padding: 15px 0;
}

/* line 27, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
#footer-checkout #footer-copyright h5 {
  font-weight: 700;
  font-size: 14px;
  color: #9F9F9F;
  letter-spacing: 0;
  margin-bottom: 23px;
}

/* line 34, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
#footer-checkout #footer-copyright p {
  font-size: 12px;
  line-height: 15px;
  color: #ACB0B3;
  letter-spacing: 0;
}

/* line 40, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
#footer-checkout #footer-copyright ul {
  margin: 0 -10px;
}

/* line 42, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
#footer-checkout #footer-copyright ul li {
  margin: 0 10px;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  /* line 49, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
  #footer-checkout .col-payments {
    margin-bottom: 20px;
  }
  /* line 52, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
  #footer-checkout #footer-copyright {
    text-align: center;
  }
  /* line 54, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_footer.scss */
  #footer-checkout #footer-copyright p {
    margin-bottom: 15px;
  }
}

/* line 2, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template #render-checkout-buttons {
  display: none;
}

/* line 7, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .empty-cart-content .empty-cart-title {
  font-size: 18px;
  color: #043B63;
  line-height: 26px;
  margin-bottom: 10px;
}

/* line 10, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .empty-cart-content p {
  font-size: 14px;
  margin-bottom: 30px;
}

/* line 15, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart {
  border: 0 none;
  border-radius: 0;
  padding: 0;
}

/* line 20, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items thead {
  background: #F1F1F1;
}

/* line 22, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items thead th {
  font-weight: 400;
  font-size: 13px;
  color: #0062A9;
  padding: 10px 15px;
}

/* line 31, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item td {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E1E1E1;
  font-size: 13px;
}

/* line 39, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .product-name .brand,
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .product-name .seller {
  display: none;
}

/* line 45, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .product-price {
  font-weight: 600;
  color: #043B63;
}

/* line 48, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .product-price .old-product-price-label,
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .product-price .new-product-price-label {
  display: none;
}

/* line 53, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .quantity {
  position: relative;
  width: 74px;
}

/* line 56, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .quantity a {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 40px;
  left: 0;
  line-height: 39px;
  font-size: 16px;
  color: #3E4042;
}

/* line 63, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .quantity a.item-quantity-change-decrement {
  left: 0;
  text-align: right;
}

/* line 66, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .quantity a.item-quantity-change-decrement i:before {
  content: '-';
}

/* line 70, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .quantity a.item-quantity-change-increment {
  left: initial;
  right: 0;
  text-align: left;
}

/* line 74, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .quantity a.item-quantity-change-increment i:before {
  content: '+';
}

@media only screen and (min-width: 768px) {
  /* line 80, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .cart-template .cart-template-holder .cart .cart-items tbody .product-item .quantity a.item-quantity-change-decrement {
    left: 8px;
  }
  /* line 83, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .cart-template .cart-template-holder .cart .cart-items tbody .product-item .quantity a.item-quantity-change-increment {
    right: 8px;
  }
}

/* line 88, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .quantity input {
  width: 100%;
  height: 40px;
  border: 1px solid #E1E1E1;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0;
}

/* line 97, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .quantity-price {
  font-weight: 600;
  color: #043B63;
}

/* line 102, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .item-remove a {
  font-size: 16px;
  color: #6F6F6F;
  letter-spacing: 0;
}

/* line 106, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .item-remove a i:before {
  content: '\F014';
}

/* line 109, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-template-holder .cart .cart-items tbody .product-item .item-remove a:hover {
  color: #043B63;
}

@media only screen and (max-width: 767px) {
  /* line 30, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .cart-template .cart-template-holder .cart .cart-items tbody .product-item {
    margin-bottom: 10px;
    padding: 20px 0;
    border-style: solid;
  }
  /* line 118, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .cart-template .cart-template-holder .cart .cart-items tbody .product-item td {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 124, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .cart-template .cart-template-holder .cart .cart-items tbody .product-item .product-name a {
    padding-right: 30px;
  }
  /* line 128, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .cart-template .cart-template-holder .cart .cart-items tbody .product-item .item-remove {
    right: 10px;
    top: 5px;
  }
}

/* line 139, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-coupon-wrap {
  text-align: left;
}

/* line 142, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon,
.cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon * {
  float: none !important;
}

/* line 146, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon label {
  font-size: 14px;
  margin-bottom: 10px;
}

/* line 150, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon #cart-coupon {
  height: 27px;
}

/* line 153, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon .link-coupon-add {
  background-color: #6F6F6F !important;
  color: #fff;
  font-size: 16px;
  line-height: calc(60px - 20px);
  width: 350px;
  height: 60px;
  font-weight: 600;
  box-sizing: border-box;
  display: inline-block;
}

/* line 61, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_mixin.scss */
.cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon .link-coupon-add:hover, .cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon .link-coupon-add:active {
  background-color: #626262 !important;
}

/* line 159, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon #cart-coupon-add {
  background-color: #043B63 !important;
  color: #fff;
  font-size: 18px;
  width: auto;
  height: auto;
  text-shadow: none;
}

/* line 61, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_mixin.scss */
.cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon #cart-coupon-add:hover, .cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon #cart-coupon-add:active {
  background-color: #032c4a !important;
}

@media only screen and (max-width: 767px) {
  /* line 141, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon {
    width: 100%;
  }
  /* line 165, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .cart-template .summary-template-holder .summary-coupon-wrap .summary-coupon .link-coupon-add {
    display: block;
    width: 100%;
    margin: 10px auto 20px;
  }
}

/* line 176, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-totalizers table td.empty {
  display: none;
}

/* line 179, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-totalizers table td.info, .cart-template .summary-template-holder .summary-totalizers table td.monetary,
.cart-template .summary-template-holder .summary-totalizers table td.monetary a {
  font-weight: 700;
  font-size: 13px;
  color: #0062A9;
  letter-spacing: 0;
}

/* line 187, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-totalizers table td.info {
  float: left;
  text-align: left;
}

/* line 192, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-totalizers table td.monetary,
.cart-template .summary-template-holder .summary-totalizers table td.monetary a {
  text-align: right;
}

/* line 199, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-totalizers table .Shipping td {
  color: #043B63;
}

/* line 202, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-totalizers table .Shipping .icon-remove-sign {
  color: #CF3030;
}

/* line 209, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-totalizers table .shipping-calculate td.monetary a {
  color: #0062A9;
  text-decoration: underline !important;
}

/* line 214, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-totalizers table .shipping-calculate td.monetary.form-postal-code > .summary-shipping {
  text-align: right;
}

/* line 216, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-totalizers table .shipping-calculate td.monetary.form-postal-code > .summary-shipping .shipping-fields {
  margin-bottom: 10px;
}

/* line 219, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-totalizers table .shipping-calculate td.monetary.form-postal-code > .summary-shipping input {
  vertical-align: top;
  height: 26px;
}

/* line 223, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .summary-template-holder .summary-totalizers table .shipping-calculate td.monetary.form-postal-code > .summary-shipping button {
  background-color: #043B63 !important;
  color: #fff;
  font-size: 12px;
  width: auto;
  height: auto;
}

/* line 61, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_mixin.scss */
.cart-template .summary-template-holder .summary-totalizers table .shipping-calculate td.monetary.form-postal-code > .summary-shipping button:hover, .cart-template .summary-template-holder .summary-totalizers table .shipping-calculate td.monetary.form-postal-code > .summary-shipping button:active {
  background-color: #032c4a !important;
}

/* line 238, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-links-bottom {
  display: block;
  text-align: center;
}

/* line 243, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-links-bottom .link-choose-more-products-wrapper > a {
  background-color: #F1F1F1 !important;
  color: #0062A9;
  font-size: 16px;
  line-height: calc(60px - 20px);
  width: 100%;
  height: 60px;
  display: block;
  box-sizing: border-box;
  font-weight: 600;
}

/* line 61, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_mixin.scss */
.cart-template .cart-links-bottom .link-choose-more-products-wrapper > a:hover, .cart-template .cart-links-bottom .link-choose-more-products-wrapper > a:active {
  background-color: #e4e4e4 !important;
}

/* line 249, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-links-bottom #cart-to-orderform {
  display: block;
  text-align: center;
  padding: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  font-size: 18px;
}

/* line 258, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
.cart-template .cart-links-bottom::after, .cart-template .cart-links-bottom::before {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* line 238, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .cart-template .cart-links-bottom {
    display: -ms-flexbox;
    display: flex;
    float: none !important;
  }
  /* line 266, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .cart-template .cart-links-bottom .link-choose-more-products-wrapper > a,
  .cart-template .cart-links-bottom #cart-to-orderform {
    width: 350px;
  }
}

@media (max-width: 767px) {
  /* line 275, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .item-quantity-change {
    display: inline-block;
  }
  /* line 278, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .item-quantity-change {
    float: left;
    padding: 3px 5px 3px 0px;
  }
  /* line 282, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .item-quantity-change-increment {
    padding-left: 5px;
    padding-right: 0;
  }
  /* line 286, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart-links-bottom .btn-success {
    width: 83%;
    display: block;
    margin-top: 10px;
  }
  /* line 291, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table {
    display: block;
    margin-top: 0 !important;
  }
  /* line 295, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table thead {
    display: none;
  }
  /* line 298, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody {
    display: block;
  }
  /* line 301, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr + tr {
    border-top: 1px dashed #ddd;
    padding-top: 10px;
  }
  /* line 305, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr {
    display: block;
    margin-top: 5px;
    position: relative;
    padding-bottom: 8px;
  }
  /* line 311, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr .product-name a,
  .full-cart .cart table tbody tr .product-name .seller {
    overflow: hidden;
  }
  /* line 315, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr td {
    display: inline-block;
    padding: 4px 0;
  }
  /* line 319, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr td.product-name .seller {
    display: block;
    line-height: 120%;
    font-size: 80%;
    margin-top: 4px;
  }
  /* line 325, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr td.product-image,
  .full-cart .cart table tbody tr td.bundle-item-image {
    left: 0;
    position: absolute;
  }
  /* line 330, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr td.product-name {
    display: block;
    margin-left: 60px;
    text-align: left;
    line-height: 140%;
    width: auto;
  }
  /* line 337, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr td.product-name {
    padding: 0 0 10px !important;
  }
  /* line 340, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr td.empty,
  .full-cart .cart table tbody tr td.shipping-date,
  .full-cart .cart table tbody tr td .brand {
    display: none;
  }
  /* line 345, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr td.product-name a,
  .full-cart .cart table tbody tr td.bundle-item-name span {
    display: block;
    padding-right: 20px;
  }
  /* line 350, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr td.quantity {
    width: 81px;
    padding: 0px;
    margin-left: 60px;
  }
  /* line 355, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr td.quantity input {
    float: left;
    margin: 0;
    width: 25px;
  }
  /* line 360, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr td.product-price {
    text-align: right;
    float: right;
    margin-right: 5px;
  }
  /* line 365, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr td.quantity-price {
    display: none;
  }
  /* line 368, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr td.item-remove {
    position: absolute;
    top: -5px;
    right: 0;
    width: 14px;
  }
  /* line 374, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .cart-links-bottom {
    float: none;
    margin-top: 5px;
    margin-bottom: 40px;
    text-align: right;
  }
  /* line 380, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .more {
    margin-right: 0;
  }
  /* line 383, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart-links-bottom .btn-success {
    width: auto;
  }
  /* line 386, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr.item-attachments-head {
    border: 0;
    margin: 0;
    padding: 0;
  }
  /* line 391, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr.item-attachments-head .item-attachments-header {
    top: auto;
  }
  /* line 394, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr.item-attachments-head .item-attachments-header:after {
    content: none;
  }
  /* line 397, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr.item-attachments-head .item-attachments-header strong {
    box-shadow: none;
  }
  /* line 400, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr.item-attachments-content {
    margin: 0;
    border: 0;
    padding: 0;
  }
  /* line 405, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_cart.scss */
  .full-cart .cart table tbody tr.item-attachments-content .item-attachments-item-fields {
    margin-left: 5px;
    width: 95%;
  }
}

/* line 1, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email {
  border: 0;
}

/* line 4, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .link-cart a {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 9, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .link-cart a::before {
  content: '\F100';
  display: inline-block;
  font-family: FontAwesome;
  vertical-align: baseline;
  margin-right: 10px;
  font-style: normal;
}

/* line 17, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .link-cart a:hover {
  color: #043B63;
}

/* line 23, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .pre-email h3 {
  text-align: center;
  margin-bottom: 30px;
}

/* line 26, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .pre-email h3 label {
  margin-top: 15%;
}

/* line 29, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .pre-email h3 span {
  font-size: 20px;
  color: #000000;
  line-height: 28px;
  margin-bottom: 10px;
  font-weight: 400;
  display: block;
}

/* line 34, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .pre-email h3 small {
  font-size: 16px;
  color: #043B63;
  text-align: center;
}

/* line 40, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .pre-email .client-email {
  text-align: center;
}

/* line 42, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .pre-email .client-email span.error {
  display: block;
}

/* line 45, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .pre-email .client-email input {
  width: 100%;
  height: 50px;
  padding: 0 100px 0 15px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  font-size: 14px;
  color: #3E4042;
}

/* line 54, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .pre-email .client-email #btn-client-pre-email {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  background: #0062A9;
}

/* line 59, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .pre-email .client-email #btn-client-pre-email:hover {
  background-color: #005390;
}

@media only screen and (min-width: 992px) {
  /* line 66, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
  form.client-pre-email .pre-email h3 label {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 72, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
  form.client-pre-email .pre-email #btn-client-pre-email {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* line 79, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .emailInfo {
  margin-top: 30px;
  background: transparent;
  border: 0;
}

/* line 85, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .emailInfo h3 {
  font-size: 18px;
  color: #0062A9;
  text-align: center;
  margin-bottom: 30px;
}

/* line 91, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .emailInfo ul {
  margin: -7px 0;
}

/* line 93, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .emailInfo ul li {
  padding: 7px 0;
}

/* line 95, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .emailInfo ul li .icon-ok {
  font-size: 15px;
  color: #043B63;
}

/* line 99, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .emailInfo ul li span {
  font-size: 15px;
  color: #0062A9;
}

/* line 103, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .emailInfo ul li:nth-child(4) > span {
  font-size: 15px;
}

/* line 108, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
form.client-pre-email .emailInfo .icon-lock {
  display: none;
}

@media only screen and (min-width: 992px) {
  /* line 79, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
  form.client-pre-email .emailInfo {
    width: 50%;
  }
  /* line 113, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_email.scss */
  form.client-pre-email .emailInfo ul {
    padding-left: 40px;
  }
}

/* line 3, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group {
  border: 0;
  padding: 20px 10px;
  background: #F2F2F2;
}

/* line 7, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group label {
  font-size: 13px;
  margin-bottom: 5px;
}

/* line 10, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group label[for="client-company-document"], .orderform-template .orderform-template-holder .accordion-group label[for="client-company-nickname"] {
  font-size: 13px;
}

/* line 16, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group fieldset > p.pull-left:not(.hide) {
  display: block;
  float: none;
}

@media only screen and (min-width: 768px) {
  /* line 16, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
  .orderform-template .orderform-template-holder .accordion-group fieldset > p.pull-left:not(.hide) {
    display: inline-block;
    vertical-align: top;
    max-width: calc(50% - 10px);
  }
}

/* line 27, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group fieldset p {
  font-size: 14px;
  color: #3E4042;
  line-height: 20px;
  margin-bottom: 15px;
}

/* line 32, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group fieldset p.ship-number {
  display: block !important;
}

/* line 37, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group fieldset input[type="text"], .orderform-template .orderform-template-holder .accordion-group fieldset input[type="tel"], .orderform-template .orderform-template-holder .accordion-group fieldset input[type="email"] {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
}

/* line 46, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group fieldset input:not(.input-mini) {
  width: 100% !important;
}

/* line 51, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group span.error {
  font-size: 12px;
}

/* line 56, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group .accordion-heading .accordion-toggle > i {
  display: none;
}

/* line 59, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group .accordion-heading .accordion-toggle span {
  font-size: 17px;
  color: #3E4042;
  line-height: 25px;
  margin-bottom: 10px;
  display: block;
}

/* line 63, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group .accordion-heading .accordion-toggle a {
  color: #0062A9;
}

/* line 70, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group .box-step .submit button {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  font-size: 14px;
  margin-top: 25px;
}

/* line 80, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder .accordion-group .box-step p.address,
.orderform-template .orderform-template-holder .accordion-group .box-step .form-step p,
.orderform-template .orderform-template-holder .accordion-group .box-step .shipping-selected-sla {
  font-size: 13px;
  color: #0062A9;
}

/* line 91, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #client-profile-data fieldset.box-client-info-pf > div:not(.hide):not(.phone-box) {
  display: block;
}

@media only screen and (min-width: 768px) {
  /* line 91, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
  .orderform-template .orderform-template-holder #client-profile-data fieldset.box-client-info-pf > div:not(.hide):not(.phone-box) {
    max-width: calc(50% - 10px);
    display: inline-block;
  }
}

/* line 100, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #client-profile-data fieldset.box-client-info-pj {
  margin-bottom: 15px;
}

/* line 102, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #client-profile-data fieldset.box-client-info-pj .corporate-info-box {
  margin-top: 15px;
}

/* line 105, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #client-profile-data fieldset.box-client-info-pj p {
  float: none;
}

/* line 108, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #client-profile-data fieldset.box-client-info-pj p.client-company-name label {
  font-size: 13px;
}

/* line 118, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data > .shipping-data.active #billing-address {
  display: block;
}

/* line 122, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data .cancel-address-form {
  display: none;
}

/* line 125, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data small a {
  font-style: italic;
  font-size: 12px;
  color: #3E4042;
  line-height: 20px;
}

/* line 130, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data small a:hover {
  color: #0062A9;
}

/* line 135, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data .address-form-placeholder .ship-more-info {
  display: inline-block;
}

/* line 138, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data .address-form-placeholder input.postal-code {
  max-width: calc(100% - 110px);
}

/* line 142, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data .address-form-placeholder fieldset button {
  text-transform: capitalize;
  font-size: 14px;
}

/* line 148, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data #billing-address {
  display: none;
}

/* line 151, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data #billing-address #address-toggle-0, .orderform-template .orderform-template-holder #shipping-data #billing-address #address-toggle-0 + label {
  display: inline-block;
  vertical-align: middle;
}

/* line 155, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data #billing-address #address-toggle-0 + label {
  width: calc(100% - 30px);
  margin-left: 5px;
  font-weight: 700;
}

/* line 160, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data #billing-address #address-toggle-0 ~ div {
  max-height: 500px;
  overflow: visible;
}

/* line 166, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data #billing-address #address-toggle-0:checked ~ div {
  max-height: 0;
  overflow: hidden;
}

/* line 173, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data #billing-address .content h4 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

/* line 181, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data .address-shipping-options h4 {
  margin-bottom: 20px;
}

/* line 185, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data .address-shipping-options h4 span:not(.products-from-seller-container):not(.products-from-seller) {
  float: none;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

/* line 191, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data .address-shipping-options h4 span.products-from-seller-container {
  width: 44%;
  color: #0062A9;
}

/* line 197, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data .address-shipping-options .shipping-option-item {
  display: block !important;
  padding: 0;
  border: 0;
  background: transparent;
  margin-bottom: 10px;
  height: 20px;
  line-height: 20px;
  padding-left: 25px;
  font-style: normal;
}

/* line 207, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data .address-shipping-options .shipping-option-item i {
  position: absolute;
  top: 3px;
  left: 0;
  font-size: 18px;
}

/* line 216, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data .submit,
.orderform-template .orderform-template-holder #shipping-data .submit button {
  margin-top: 0;
}

/* line 220, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data .submit .btn-go-to-payment {
  display: none;
}

/* line 224, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #shipping-data #change-other-shipping-option {
  background-color: #6F6F6F !important;
  color: #fff;
  font-size: 18px;
  line-height: calc(35px - 20px);
  width: 100%;
  height: 35px;
  margin: 10px 0 0;
  border: 0;
  box-sizing: border-box;
  border-radius: 0;
}

/* line 61, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_mixin.scss */
.orderform-template .orderform-template-holder #shipping-data #change-other-shipping-option:hover, .orderform-template .orderform-template-holder #shipping-data #change-other-shipping-option:active {
  background-color: #626262 !important;
}

@media only screen and (max-width: 767px) {
  /* line 224, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
  .orderform-template .orderform-template-holder #shipping-data #change-other-shipping-option {
    height: 50px;
    line-height: 25px;
  }
}

/* line 239, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #payment-data .steps-view {
  background: #fff;
  border-radius: 4px;
}

/* line 243, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #payment-data .payment-group {
  background: transparent;
}

/* line 245, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #payment-data .payment-group a {
  font-size: 13px;
  color: #0062A9;
  line-height: 20px;
}

/* line 250, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #payment-data .payment-group .payment-group-list-btn {
  width: auto !important;
}

/* line 253, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #payment-data .payment-group .payment-group-item {
  border-radius: 4px;
  margin: 10px 10px 0 0;
  box-sizing: border-box;
  position: relative;
  background: #fff;
  opacity: 1;
}

/* line 260, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #payment-data .payment-group .payment-group-item:after {
  content: "";
  position: absolute;
  right: -25px;
  border: 15px solid transparent;
  top: 50%;
  margin-top: -15px;
}

/* line 270, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #payment-data .payment-group .payment-group-item:hover, .orderform-template .orderform-template-holder #payment-data .payment-group .payment-group-item.active {
  background: #043B63;
  color: #fff;
}

/* line 273, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .orderform-template-holder #payment-data .payment-group .payment-group-item:hover:after, .orderform-template .orderform-template-holder #payment-data .payment-group .payment-group-item.active:after {
  border-left-color: #043B63;
}

/* line 282, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart h2 {
  text-align: left;
  font-size: 17px;
  color: #3E4042;
  line-height: 25px;
  margin-bottom: 10px;
  background: transparent;
}

/* line 289, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart .summary-cart-template-holder ul li {
  padding: 13px 0;
  margin: 0;
  border: 0;
}

/* line 293, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart .summary-cart-template-holder ul li .product-name {
  font-size: 12px;
  color: #0062A9;
}

/* line 297, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart .summary-cart-template-holder ul li .quantity.badge {
  width: 15px;
  height: 15px;
  left: 35px;
  padding: 0;
  border: 0;
  line-height: 15px;
  background: #043B63;
  font-size: 10px;
  color: #FFFFFF;
  text-align: center;
  box-shadow: none;
}

/* line 309, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart .summary-cart-template-holder ul li .shipping-date {
  font-size: 11px;
}

/* line 312, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart .summary-cart-template-holder ul li .price {
  font-size: 14px;
  line-height: 23px;
  color: #043B63;
  letter-spacing: 0;
  font-weight: 700;
  margin: 0;
}

/* line 323, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart #go-to-cart-button {
  margin-bottom: 30px;
  float: none;
}

/* line 326, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart #go-to-cart-button a {
  background-color: #F1F1F1 !important;
  color: #0062A9;
  font-size: 11px;
  line-height: calc(35px - 20px);
  width: 100%;
  height: 35px;
  text-transform: uppercase;
  display: block;
  box-sizing: border-box;
}

/* line 61, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_mixin.scss */
.orderform-template .mini-cart #go-to-cart-button a:hover, .orderform-template .mini-cart #go-to-cart-button a:active {
  background-color: #e4e4e4 !important;
}

/* line 333, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart .summary-template-holder {
  border: 0;
  background: transparent;
  padding: 0;
}

/* line 339, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart .summary-template-holder table td {
  padding: 10px 8px;
}

/* line 344, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart .payment-confirmation-wrap {
  padding: 0;
  background: transparent;
}

/* line 347, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart .payment-confirmation-wrap #payment-data-submit {
  padding: 0;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 100%;
}

/* line 357, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
.orderform-template .mini-cart .payment-confirmation-wrap #payment-data-submit i {
  font-style: normal;
  margin-right: 5px;
}

/* line 368, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container label {
  margin-bottom: 5px;
}

/* line 371, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container input {
  height: 20px;
  letter-spacing: 0;
}

/* line 374, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container input#address-toggle-0 {
  margin-top: 0;
}

/* line 378, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container .SecurityEnvironmentIcon {
  background: #4CAF50;
  color: #fff;
}

/* line 383, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container .CardForm > * {
  margin: 5px 0;
}

/* line 386, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container .CardForm .PaymentCardCVV {
  position: relative;
}

/* line 388, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container .CardForm .PaymentCardCVV label {
  width: 210px;
}

/* line 391, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container .CardForm .PaymentCardCVV .PaymentCardCVVHelp {
  top: -45px;
  right: 0;
  margin: 0;
  height: auto;
  padding: 75px 5px 0;
}

/* line 397, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container .CardForm .PaymentCardCVV .PaymentCardCVVHelp .cvv-help-message {
  background: #1472ba;
  padding-bottom: 5px;
  display: block;
}

/* line 405, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container .CardForm .PaymentCardDueDate .FormFieldLabel {
  margin-right: 10px;
}

@media only screen and (max-width: 767px) {
  /* line 405, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
  #app-container .CardForm .PaymentCardDueDate .FormFieldLabel {
    float: none !important;
  }
}

/* line 412, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container .CardForm .PaymentCardHolderName {
  margin-bottom: 5px;
}

/* line 416, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container .ChangeNumberOfPayments {
  display: none;
}

/* line 418, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container .ChangeNumberOfPayments a {
  background-color: #F2F2F2 !important;
  color: #0062A9;
  font-size: 15px;
  line-height: 35px;
  width: 100%;
  height: 40px;
  font-weight: 600;
  padding: 0;
  margin-top: 5px;
  display: block;
  text-align: center;
}

/* line 430, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/_checkout.scss */
#app-container .ChangeNumberOfPayments a:hover {
  background-color: #e5e5e5 !important;
}

/* line 22, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
.body-cart {
  padding-bottom: 0;
}

/* line 26, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-radius: 0 !important;
  font-size: 13px;
  color: #3F84B6;
}

/* line 45, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: none !important;
  border: 1px solid #3F84B6 !important;
}

/* line 51, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #E5E5E5;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border-radius: 0;
  background: url("//mercostore.vtexcommercestable.com.br/arquivos/icon-arrows.png") no-repeat scroll calc(100% - 10px) center #fff;
  margin: 0;
}

/* line 67, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
.btn {
  box-sizing: border-box;
}

/* line 71, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
.btn.btn-success {
  background-color: #92C600 !important;
  color: #fff;
  font-size: 18px;
  width: auto;
  height: auto;
}

/* line 61, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Files Manager/css/sass/main/_mixin.scss */
.btn.btn-success:hover, .btn.btn-success:active {
  background-color: #7fad00 !important;
}

@media only screen and (min-width: 992px) {
  /* line 67, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
  .btn {
    font-size: 20px;
  }
}

/* line 79, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
#orderform-title,
#orderform-sac-title,
#cart-title {
  font-size: 24px;
  color: #000000;
  line-height: 32px;
  margin-bottom: 30px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* line 79, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
  #orderform-title,
  #orderform-sac-title,
  #cart-title {
    text-align: left;
  }
}

/* line 90, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
.field-help {
  background-color: #3E4042;
  box-shadow: none;
  border: 0;
}

/* line 96, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
body {
  background: #fff;
}

/* line 98, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
body #footer-showcase {
  display: none;
}

/* line 102, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
body.body-cart #footer-showcase {
  display: block;
}

/* line 108, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
.slick-slider {
  position: relative;
  padding: 0 10px;
}

/* line 111, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
.slick-slider .slick-track {
  line-height: 1;
}

/* line 114, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
.slick-slider .slick-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 50px;
  font-size: 35px;
  color: #6F6F6F;
  letter-spacing: 0;
  z-index: 1;
  opacity: 0.6;
  background: transparent;
}

/* line 124, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
.slick-slider .slick-arrow.slick-prev {
  left: 0;
}

/* line 127, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
.slick-slider .slick-arrow.slick-next {
  right: 0;
}

/* line 130, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
.slick-slider .slick-arrow:hover {
  opacity: 1;
}

@media (min-width: 1320px) {
  /* line 134, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
  .slick-slider .slick-arrow.slick-prev {
    left: -50px;
  }
  /* line 137, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
  .slick-slider .slick-arrow.slick-next {
    right: -50px;
  }
}

/** modals **/
/* line 147, /Users/lucascesarferreira/Desktop/Lucas Ferreira/plataforms/vtex/mercostore/CMS/Checkout/sass/checkout-custom.scss */
.payment-confirmation-modal .payment-confirmation-loading,
.payment-confirmation-modal .payment-confirmation-thanks,
.payment-confirmation-modal .payment-confirmation-message {
  color: #fff;
}

/*# sourceMappingURL=../checkout-custom.map */