﻿body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $colorPrimary;
}
a{
    color: $colorSecondary;
    &:hover{
        color: $colorPrimary;
    }
}
.btn {
    @extend %reset-btn;

    &.btn-primary {
        @include btn-default;
    }
    &.btn-secondary{
        @include btn-default(#F2F2F2, $colorPrimary);
        font-weight: $semiBold;
    }
    &.btn-lg, &.btn-large {
        padding: 15px 40px;
    }
}
.inline-middle{
    > span{
        display: inline-block;
        vertical-align: middle;
    }
}
.page-title{
    @include title-default($mb: 30px);
    @include media-queries('phone-wide', max){
        font-size: 25px;
    }
}
p{
    @extend %text-default;
}

/** DEFAULTS **/
.reset-box-banner {
    .box-banner {
        img {
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }
}

//bootstrap
.d-inline-block {
    display: inline-block!important;
}
