// modals 
@mixin modals($bgMask: rgba(17, 17, 17, 6/10), $side: right, $colorContent: #fff, $mx: 420px) {
    @extend %fixed-full;
    z-index: 99999;
    .mask {
        @include mask($bgMask);
    }
    > .content {
        position: fixed;
        #{$side}: -100%;
        top: 0;
        bottom: 0;
        background: $colorContent;
        max-width: $mx;
        z-index: 111;
        width: 100%;
    }
}

// btn-close
@mixin btn-close($width: 30px, $color: $color3) {
    transition: transform .25s ease-in-out;
    &:before,
    &:after {
        @extend %btn-close;
        width: $width;
        border-top: 1px solid #{$color};
        transform-origin: center;
    }
    &:after {
        transform: rotate(-45deg);
    }
    &:hover {
        transform: rotate(180deg);
    }
}

@mixin title-default($fs: 24px, $color: #000000, $mb: 30px) {
    @extend %title-default;
    font-size: $fs;
    color: $color;
    line-height: $fs + 8;
    margin-bottom: $mb;
}

@mixin text-default($fs: 14px){
    @extend %text-default;
    font-size: $fs;
}


// btn-default
@mixin btn-default($bg: $colorSecondary, $color: $colorWhite, $fz: 18px, $width: auto, $height: auto) {
    @extend %btn-default;
    background-color: $bg !important;
    color: $color;
    font-size: $fz;
    @if $height !=auto {
        line-height: calc(#{$height} - 20px);
    }
    &:hover, &:active {
        background-color: darken($bg, 5%) !important;
    }
    @include size($width, $height);
}

/** DEFAULTS **/

// mask
@mixin mask($bg: rgba(17, 17, 17, 6/10), $z-index: 110, $cursor: pointer) {
    @extend %fixed-full;
    background: $bg;
    z-index: $z-index;
    cursor: $cursor;
}

// columns
@mixin content-columns($columnCount, $columnGap: 20px) {
    column-count: $columnCount;
    column-gap: $columnGap;
    @if $webkit==true {
        -webkit-column-count: $columnCount;
        -webkit-column-gap: $columnGap;
    }
    @if $moz==true {
        -moz-column-count: $columnCount;
        -moz-column-gap: $columnGap;
    }
}

//media queries
@mixin media-queries($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type==max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// prefix declarations
@mixin prefixed($property, $value) {
    @if $webkit==true {
        -webkit-#{$property}: #{$value};
    }
    @if $moz==true {
        -moz-#{$property}: #{$value};
    }
    @if $ms==true {
        -ms-#{$property}: #{$value};
    }
    @if $o==true {
        -o-#{$property}: #{$value};
    }
    #{$property}: #{$value};
}

// size
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// center absolute components
@mixin center-absolute($vertical: false, $height: false, $horizontal: false, $width: false) {
    position: absolute;
    @if ($vertical==true and $horizontal==true) and ($height==false and $width==false) {
        top: 50%;
        left: 50%;
        @include prefixed(transform, translate(-50%, -50%));
    }
    @else {
        @if $vertical==true {
            top: 50%;
            @if $height==false {
                @include prefixed(transform, translateY(-50%));
            }
            @else {
                margin-top: -($height - ($height / 2));
            }
        }
        @if $horizontal==true {
            left: 50%;
            @if $width==false {
                @include prefixed(transform, translateX(-50%));
            }
            @else {
                margin-left: -($width - ($width / 2));
            }
        }
    }
}

// pseudo icon-fontawesome 5
@mixin fontAwesome($unicode, $type: 'fas', $size: 16px, $color: #000, $display: block){
    content: $unicode;
    display: $display;
    color: $color;
    @if $type == 'fas' {
        font: 900 $size Font Awesome\ 5 Free;
    }
    @if $type == 'fab' {
        font: 300 $size Font Awesome\ 5 Brands;
    } 
}

// placeholder
@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    @if $moz==true {
        &:-moz-placeholder {
            @content;
        }
        &::-moz-placeholder {
            @content;
        }
    }
    @if $ms==true {
        &:-ms-input-placeholder {
            @content;
        }
    }
    @if $webkit==true {
        &::-webkit-input-placeholder {
            @content;
        }
    }
}

//truncate
@mixin truncate($mx: 250px) {
    max-width: $mx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// prefix keyframes
@mixin keyframes($name) {
    @if $webkit==true {
        @-webkit-keyframes #{$name} {
            @content;
        }
    }
    @if $moz==true {
        @-moz-keyframes #{$name} {
            @content;
        }
    }
    @if $ms==true {
        @-ms-keyframes #{$name} {
            @content;
        }
    }
    @if $o==true {
        @-o-keyframes #{$name} {
            @content;
        }
    }
    @keyframes #{$name} {
        @content;
    }
}