
/**  THEME  **/
%btn-default {
    padding: 10px;
    text-align: center;
    letter-spacing: 0.2px;
    font-weight: $bold;
}

%title-default {
    font-weight: $medium;
    letter-spacing: 0;
}

%text-default{
    color: #5A5E67;
    letter-spacing: 0;
    line-height: 21px;
}

%flag{
    position: relative;
    padding: 5px;
    font-size: 11px;
    line-height: 11px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    background: $colorSecondary;
    min-width: 50px;
    text-align: center;
}
// %select-default{
//     -webkit-appearance:none;
//     -moz-appearance:none;
//     appearance:none;
//     background: #FFFFFF;
//     border: 1px solid #DDDDDD;
//     border-radius: 4px;
//     padding: 0 25px 0 10px;
//     cursor: pointer;
//     font-size: 14px;
// }
// //input-default
// %input-default{
//     font-weight: $light;
//     font-size: 14px;
//     color: #999999;
//     text-align: left;
//     border-radius: 0;
//     &:focus{
//         box-shadow: none !important;
//     }
// }
// //title-default
// %title-default{
//     font-weight: $light;
//     text-align: left;
// }
// //btn-default
// //text-default-light
// %text-light{
//     font-weight: $light;
//     line-height: 26px;
// }

// btn-close
%btn-close {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0;
    transform: rotate(45deg);
}

// bootstrap 4
%d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

%align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

%justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
%flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}

// hover-zoom
%hover-zoom {
    @extend %transition;
    &:hover {
        transform: scale(1.02);
    }
}

/** DEFAULTS **/

// position fixed all page
%fixed-full {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

//center block
%center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//clear both
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// transition
%transition {
    transition: 300ms all;
}

// sr-only
%sr-only {
    font-size: 0;
    line-height: 0;
    color: transparent;
}

%br-radius-100{
    border-radius: 100%;
}

// reset-ul
%reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// reset-btn
%reset-btn {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none !important;
    line-height: 1rem;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
}

