/** RESETS **/
body{
    line-height: 1;
}
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus { outline: 0 !important;}
a, a:link, a:visited, a:hover, a:active{
    @extend %transition;
    text-decoration: none !important;
}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul, ul li{list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit;}
select {margin: inherit;}
hr {margin: 30px 0; padding: 0;border: 0;color: $colorBorder;background-color: $colorBorder;height: 1px}
div#ajaxBusy{display: none !important}
/** FIM RESETS **/

.black-friday-discount{
    position: absolute;
    top: 0;
    right: 5px;
    width: 50px;
    z-index: 10;
     > span{
        display: block;
        &:nth-child(1){
            background: #E60014;
            font-weight: 500;
            font-size: 15px;
            color: #FFFFFF;
            text-align: center;
            line-height: 23px;
        }
        &:nth-child(2){
            background: #000;
            font-weight: 500;
            font-weight: 799;
            font-size: 11px;
            color: #FFFFFF;
            text-align: center;
            line-height: 11px;
            padding: 3px;
            position: relative;
            &:after{
                content: "";
                border: 10px solid transparent;
                border-left-width: 25px;
                border-right-width: 25px;
                border-top-color: #000;
                width: 50px;
                height: 20px;
                position: absolute;
                left: 0;
                bottom: -20px;
            }   
        }   
    }   
}   