/** VARIABLES **/
// ---------------------------------------------

// main
$store                  : 'mercostore';
$fontFamily             : 'Open Sans', sans-serif;
$fontSize               : 14px;

// colors
$color1            : #0062A9;
$color2            : #043B63;
$color3            : #3E4042;
$color4            : #151515;
$color5            : #0c94e4;
$color6            : #353535;

$colorWhite        : #fff;
$colorBlack        : #000;

$colorPrimary      : $color1;
$colorSecondary    : $color2;

$colorBorder       : #E1E1E1;
$colorSuccess      : #92C600;
$colorAlert        : #FFBC00;
$colorDanger       : #CF3030;

// weights
$light    : 300;
$regular  : 400;
$medium   : 500;
$semiBold : 600;
$bold     : 700;
$black    : 900;

// durations
$defaultDuration: 300ms;
$fastDuration: .1s !default;
$mediumDuration: .3s !default;
$slowDuration: .5s !default;

// browser Prefixes 
$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;

// breakpoints bootstrap 4
$breakpoints: (
    "phone"     :   576px,
    "phone-wide":   768px,
    "tablet"    :   992px,
    "desktop"   :   1200px,
);