﻿<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:metaTags/>
    <vtex:contentPlaceHolder id="title" />
    <vtex:template id="admake-head" />
    
    <vtex.cmc:placeholderHtmlHead/>
    
    <!-- Trustvox -->
    <style type="text/css">
        .trustvox-widget-rating .ts-shelf-container,
        .trustvox-widget-rating .trustvox-shelf-container {display: inline-block;}
        .trustvox-widget-rating span.rating-click-here {
            top: -3px;
            display: inline-block;
            position: relative;
            color: #DAA81D;
            font-size: 12px;
        }
        .trustvox-widget-rating:hover span.rating-click-here {text-decoration: underline;}
    </style>
    <!-- /Trustvox -->
</head>

<body id="page-product">
    <!-- Trustvox -->
    <script type="text/javascript">
     window._trustvox =  [];
     _trustvox.push(['_storeId', '84766']);
    
     _trustvox.push(['_productId',  skuJson.productId]);
     _trustvox.push(['_productName', skuJson.name]);
     _trustvox.push(['_productPhotos', [skuJson.skus[0].image]]);
    
      $(document).ready(function() {
        $('.trustvox-fluid-jump').on('click', function(event) {
            event.preventDefault();
            var offset = $($(this).attr('href')).offset().top;
            $('html, body').animate({scrollTop:offset}, 500);
        });
      });
    </script>
   <script async="true" type="text/javascript" src="//static.trustvox.com.br/sincero/sincero.js"></script>
    <!-- /Trustvox -->
    <vtex.cmc:placeholderHtmlBodyInit/>

    <vtex:template id="admake-header" />

    <!--<section class="benefits-banner d-none d-md-block">-->
    <!--    <div class="container">-->
    <!--        <vtex.cmc:benefitsBannerItems />-->
    <!--    </div>-->
    <!--</section>-->

    <section class="bread-crumb" style="display:none;">
        <div class="container">
            <vtex.cmc:breadCrumb />
        </div>
    </section>

    <main id="main" itemscope="" itemtype="http://schema.org/Product">

        <div class="product-main">
            <div class="container">
                <div class="product-flags d-block d-md-none">
                
                    <vtex.cmc:HightLight/>

                    <div class="discount">
                        <vtex.cmc:discountHightLight/>
                    </div>
                </div>
                
                <div class="product-header d-block d-md-none">
                    <div class="d-flex justify-content-between">
                        <!--<div class="product-rating">
                            <vtex.cmc:evaluationRate/>
                        </div>-->
                        <!-- Trustvox -->
                        <div class="trustvox-rating">
                          <a class="trustvox-fluid-jump trustvox-widget-rating" href="#trustvox-reviews" title="Pergunte e veja opiniões de quem já comprou">
                            <div class="trustvox-shelf-container" data-trustvox-product-code-js="skuJson.productId" data-trustvox-should-skip-filter="true" data-trustvox-display-rate-schema="false"></div>
                            <span class="rating-click-here">Clique e veja!</span>
                          </a>
                        </div>
                        <!-- /Trustvox -->
                        <div class="product-sku-brand">
                            <div class="product-sku" style="display: none;">
                                Cód:
                                <vtex.cmc:skuReference/>
                            </div>
                            <div class="product-brand">
                                Marca:
                                <vtex.cmc:brandName/>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="product-row">
                    <div class="row">
                        <div class="col-md-6 col-image">
                            <div class="product-image-flags" data-admake="product-image" data-config="{'carouselDesktop': false, 'thumbVertical': true}">
                                <div class="product-image">
                                    <vtex.cmc:ProductImage zoom="on" />
                                </div>
                                <span class="black-friday-discount percent" style="display: none;">
                                    <span class="get-pct"></span>
                                    <span>OFF</span>
                                </span>
                                <div class="product-flags d-none d-md-block">
                                    <vtex.cmc:HightLight/>

                                    <div class="discount">
                                        <vtex.cmc:discountHightLight/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="d-block d-md-none col" />

                        <div class="col-md-6 col-details">

                            <h1 class="product-name" itemprop="name">
                                <vtex.cmc:productName />
                            </h1>

                            <div class="product-short-description d-none d-md-block" itemprop="description">
                                <vtex.cmc:productDescriptionShort />
                            </div>

                            <div class="product-header d-none d-md-block">
                                <div class="d-flex justify-content-between align-items-center">
                                    <!--<div class="product-rating">
                                        <vtex.cmc:evaluationRate/>
                                    </div>-->
                                    <!-- Trustvox -->
                                    <div class="trustvox-rating">
                                      <a class="trustvox-fluid-jump trustvox-widget-rating" href="#trustvox-reviews" title="Pergunte e veja opiniões de quem já comprou">
                                        <div class="trustvox-shelf-container" data-trustvox-product-code-js="skuJson.productId" data-trustvox-should-skip-filter="true" data-trustvox-display-rate-schema="true"></div>
                                        <span class="rating-click-here">Clique e veja!</span>
                                      </a>
                                    </div>
                                    <!-- /Trustvox -->
                                    <div class="product-sku-brand">
                                        <div class="product-sku" style="display: none;">
                                            Cód:
                                            <vtex.cmc:skuReference/>
                                        </div>
                                        <div class="product-brand">
                                            Marca:
                                            <vtex.cmc:brandName/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="product-info-border">
                                
                                <div class="product-variations">
                                    <vtex.cmc:skuSelection />
                                </div>

                                <div class="row-price-buy">
                                    <div class="row-prices">
                                        <div class="product-price">
                                            <div class="help-price">
                                                <vtex.cmc:skuPrice/>
                                                <vtex.cmc:OtherPaymentMethod/>
                                            </div>
                                            <div class="get-final-price">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-seller-buy">
                                        <div class="col-seller">
                                            <div class="product-seller">
                                                <vtex.cmc:sellerDescription />
                                                <p>e entregue por MercoStore.</p>
                                            </div>
                                        </div>
                                        <div class="col-buy">
                                            <!--<vtex.cmc:selectQtdeProduct/>-->
                                            <div id="ad-product-buy-button" class="product-buy" show-qty="true" buy-in-page="true">
                                                <!--Seletor de quantidade-->
                                                <vtex.cmc:stockKeepingUnitAmountAndUnitSelection />
                                                <vtex.cmc:BuyButton/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-shipping" data-admake="shipping" data-config="{'resultInfo': 'Frete {S-NAME}, entrega em {S-DAYS} para o CEP {S-CEP}'}">
                                    <form class="ad-shipping-form">
                                        <div class="box-input">
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div class="text mr-3">
                                                    <img src="/arquivos/icon-truck-black.png" alt="icon frete" />
                                                    <span class="d-none">Calcule o frete e o prazo de entrega</span>
                                                </div>
                                                <div class="col-input mr-3">
                                                    <input type="text" id="cep-shipping" class="fitext freight-zip-box" name="cep" value="" placeholder="Digite seu CEP" maxlength="9"
                                                    />
                                                    <button id="btn-shipping" class="btn">Calcular</button>
                                                </div>
                                                <div class="col-text">
                                                    <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_Blank">Não sei meu CEP</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- <hr class="line d-none d-md-block" /> -->

                            <p class="d-none text-center mt-5">Preços e formas de pagamento válidos apenas para o website. Consulte condições nas lojas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <section class="product-buy-together">
            <div class="container accordion-content">
                <vtex.cmc:BuyTogether/>
            </div>
        </section>

        <section class="product-description" data-admake="title-content-exits" data-title=">div > h2" data-content=".productDescription">
            <div class="container accordion-content">
                <h2 class="accordion-btn">Descrição do Produto</h2>
                <vtex.cmc:ProductDescription/>
            </div>
        </section>

        <hr />

        <section class="product-specification" data-admake="title-content-exits" data-title=">div > h2" data-content="div >div">
            <div class="container accordion-content">
                <h2 class="accordion-btn">Informações Adicionais</h2>
                <vtex.cmc:productSpecification/>
            </div>
        </section>

        <hr />

        <section class="product-review">
            <div class="container">
                <!--<div id="user-reviews" data-admake="reviews" data-config="{'column': true, 'pagination': true, 'qtyByPage': 3}">
                    <h2>Avaliações</h2>
                    <vtex.cmc:UserReview/>
                </div>-->
                <!-- Trustvox -->
                <div class="trustvox-container">
                  <h2 id="trustvox-reviews">Pergunte e veja opiniões de quem já comprou</h2>
                  <div id="_trustvox_widget"></div>
                </div>
                <!-- /Trustvox -->

            </div>
        </section>

        <hr class="d-none d-sm-block" />

        <section class="showcase showcase-slick" data-admake="carousel" data-qty="4-3-3-2-1" data-selector="> div > div > ul">
            <div class="container">
                <vtex:contentPlaceHolder id="cross-selling" />
            </div>
        </section>

    </main>

    <vtex:template id="admake-footer" />

</body>

<vtex:template id="admake-scripts" />
<vtex.cmc:placeholderHtmlBottom/>

</html>