<ul class="list-unstyled list-inline">
    <li class="list-inline-item">
        <span class="icon">
            <img src="/arquivos/icon-wallet.png" alt="Compre em até 6x sem juros" />
        </span>
        <span class="text">
            <strong>Compre em até 6x</strong>
            sem juros
        </span>
    </li>
    <li class="list-inline-item">
        <span class="icon">
            <img src="/arquivos/icon-bars.png" alt="10% de desconto no boleto bancário" />
        </span>
        <span class="text">
            <strong>10% de desconto</strong>
            no boleto bancário
        </span>
    </li>
    <li class="list-inline-item">
        <span class="icon">
            <img src="/arquivos/icon-truck.png" alt="Entregamos em todo Brasil" />
        </span>
        <span class="text">
            <strong>Entregamos</strong>
            em todo Brasil
        </span>
    </li>
    <li class="list-inline-item">
        <span class="icon">
            <img src="/arquivos/icon-cards.png" alt="Pague em até 2 cartões de crédito" />
        </span>
        <span class="text">
            <strong>Pague em até 2</strong>
            cartões de crédito
        </span>
    </li>
    <li class="list-inline-item">
        <span class="icon">
            <img src="/arquivos/icon-checked.png" alt="Seus dados 100% Seguros" />
        </span>
        <span class="text">
            <strong>Seus dados</strong>
            100% Seguros
        </span>
    </li>
</ul>