﻿<ul class="list-inline list-unstyled">
    <li class="list-inline-item"><img src="/arquivos/flags-security-ssl.png" alt="selo de segurança ssl"></li>
    <li class="list-inline-item"><img src="/arquivos/flags-security-pci.png" alt="selo de segurança pci"></li>
    <li class="list-inline-item"><img src="/arquivos/flags-security-reclameaqui.png" alt="selo de segurança reclame aqui"></li>
</ul>