﻿<ul class="list-inline list-unstyled">
    <li class="list-inline-item">
        <a href="https://vtex.com" target="_Blank" title="VTEX">
            <img src="/arquivos/logo-vtex.png" alt="VTEX" class="img-fluid" />
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://admake.com.br" target="_Blank" title="Admake">
            <img src="/arquivos/logo-admake.png" alt="Admake" class="img-fluid" />
        </a>
    </li>
    <li class="list-inline-item">
        <a href="#" target="_Blank" title="Merco Camp Group">
            <img src="/arquivos/logo-mc.png" alt="Merco Camp Group" class="img-fluid" />
        </a>
    </li>
</ul>