﻿<h5>Código de Defesa do Consumidor</h5>
<p>
    MERCOCAMP COMÉRCIO INTERNACIONAL SA – Rod. BR 101 Norte Contorno, S/N, KM 279 – Bairro TIMS – Cidade: Serra – CEP: 29161-382 <br>
    Telefone: +55 (27) 2122-7170 | CNPJ: 05.521.163/0001-33. Todos os direitos reservados. É vetada a reprodução, total ou parcial deste website. <br> 
    Preços e condições de pagamentos válidos exclusivamente para compras pelo website.
</p>