﻿<ul class="list-unstyled">
    <li><a href="#">Central de Atendimento</a></li>
    <li><a href="/account/orders">Meus Pedidos</a></li>
    <li><a href="#">Formas de Pagamento</a></li>
    <li><a href="#">Como Comprar</a></li>
    <li><a href="#">Regras Gerais</a></li>
    <li><a href="#">Sugestão de Produto</a></li>
</ul>