﻿<h2>Marcas em Destaque</h2>
<ul class="list-unstyled list-inline" data-admake="carousel" data-qty="7-4-3-2-1" data-config="{'dots': false}">
    <li class="list-inline-item">
        <a href="" target="_blank">
            <span class="sr-only">marca submarino</span>
            <img src="/arquivos/brands-submarino.png" alt="marca submarino" />
        </a>
    </li>
    <li class="list-inline-item">
        <a href="" target="_blank">
            <span class="sr-only">marca extra</span>
            <img src="/arquivos/brands-extra.png" alt="marca extra" />
        </a>
    </li>
    <li class="list-inline-item">
        <a href="" target="_blank">
            <span class="sr-only">marca americanas</span>
            <img src="/arquivos/brands-americanas.png" alt="marca americanas" />
        </a>
    </li>
    <li class="list-inline-item">
        <a href="" target="_blank">
            <span class="sr-only">marca fast</span>
            <img src="/arquivos/brands-fast.png" alt="marca fast" />
        </a>
    </li>
    <li class="list-inline-item">
        <a href="" target="_blank">
            <span class="sr-only">marca walmart</span>
            <img src="/arquivos/brands-walmart.png" alt="marca walmart" />
        </a>
    </li>
    <li class="list-inline-item">
        <a href="" target="_blank">
            <span class="sr-only">marca magazineluiza</span>
            <img src="/arquivos/brands-magazineluiza.png" alt="marca magazineluiza" />
        </a>
    </li>
    <li class="list-inline-item">
        <a href="" target="_blank">
            <span class="sr-only">marca polishop</span>
            <img src="/arquivos/brands-polishop.png" alt="marca polishop" />
        </a>
    </li>
</ul>