﻿<ul class="list-unstyled list-inline">
        <!-- <li class="list-inline-item">
            <a href="#">PC`s de Alto Desempenho</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Open Box</a>
        </li> -->
        <li class="list-inline-item">
            <a href="/outlet"><img src="/arquivos/icon-nav-outlet@2x.png" width="28" height="28" alt=""/> OUTLET</a>
        </li>
    </ul>