﻿<div class="newsletter d-md-flex justify-content-between align-items-center" data-sigla="NE" data-store="mercostore" data-admake="newsletter"
    data-element="form">
    <div class="header">
        <img class="d-lg-inline-block d-none" src="/arquivos/icon-envelope.png" alt="icone envelope" />
        <h2>
            Promoções exclusivas para assinantes.
            <br> Cadastre seu e-mail!
        </h2>
    </div>
    <div class="form">
        <form action="">
            <input class="email" type="email" name="email" placeholder="Digite seu e-mail" />
            <button type="submit" class="btn">Cadastrar</button>
            <input id="newsletterRegistered" type="hidden" value="E-mail já cadastrado na base!">
            <input id="newsletterSuccess" type="hidden" value="Obrigado por se cadastrar na MercoStore!">
            <input id="newsletterError" type="hidden" value="Encontramos um erro no cadastro de suas informações!">
            <p class="alert-message" style="display: none"></p>
        </form>
    </div>
</div>