﻿<ul class="list-unstyled list-inline">
    <li class="list-inline-item facebook">
        <a href="" target="_blank">
            <span class="sr-only">Facebook</span>
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    <li class="list-inline-item instagram">
        <a href="" target="_blank">
            <span class="sr-only">Instagram</span>
            <i class="fab fa-instagram"></i>
        </a>
    </li>
</ul>