<!--
    * Merco Store
    * @author Lucas Ferreira [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="google-site-verification" content="mIsMFnpzOS5DOxuQwQ_hbjKBxdO-1AH7xR-ukPCJfFw" />
<meta name="google-site-verification" content="Wt2GJ9GhXp-jy8ClK-7VDM5Jj3eBCIOXEQ15hoxkvjU" />
<meta name="msvalidate.01" content="A783BAC6E8D04F329A01EA1ACBA98E9A" />

<!--[if lt IE 9]>
  <script>
    document.createElement("header" );
    document.createElement("footer" );
    document.createElement("section"); 
    document.createElement("aside"  );
    document.createElement("nav"    );
    document.createElement("article"); 
    document.createElement("hgroup" ); 
    document.createElement("time"   );
  </script>
<![endif]-->

<!-- FAVICON -->
<link rel="icon" type="image/png" href="/arquivos/mercostore-favicon.ico" />
<!-- /FAVICON -->

<!-- WEBFONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" />
<!-- /WEBFONTS -->

<!-- BOOTSTRAP 4 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous" />
<!-- /BOOTSTRAP 4 -->

<!-- FONTAWESOME -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous" />
<!-- /FONTAWESOME -->

<!-- <link rel="stylesheet" type="text/css" href="//cdn.admake.com.br/arquivos-vtex/mercostore/admake-styles.min.css" />
<link rel="stylesheet" type="text/css" href="//cdn.admake.com.br/arquivos-vtex/mercostore/admake-ajustes.css" /> -->
<link rel="stylesheet" type="text/css" href="/arquivos/admake-styles.min.css" />
<link rel="stylesheet" type="text/css" href="/arquivos/admake-ajustes.css" />

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b997b9fc666d426648ab553/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://www.googletagmanager.com/gtag/js?id=UA-122339413-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-789272067');
  gtag('config', 'UA-122339413-1');
</script>

<script>var CLIENT_TOKEN = '40169';</script> 
<!--<script src="//cdn.admake.com.br/arquivos-vtex/mercostore/admake-ajustes.js"></script>-->