<!--
    * Merco Store
    * @author Lucas Ferreira [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->

<script type="text/javascript" src="/arquivos/nouislider.min.js"></script>
<!--<script type="text/javascript" src="//cdn.admake.com.br/arquivos-vtex/mercostore/admake-default.min.js"></script>-->
<script type="text/javascript" src="/arquivos/admake-default.min.js"></script>