﻿<!--
    * Merco Store
    * @author Lucas Ferreira [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->

<footer id="footer">
        <!-- <div id="footer-brands">
            <div class="container">
                <vtex.cmc:footerBrands/>
            </div>
        </div> -->
    
    
        <div class="footer-institucional-payments">
            <div class="container">
                <div id="footer-institucional" class="row justify-content-between">
                    <div class="col-sm-7 col-md-3 col-useful-informations accordion-content">
                        <h5 class="title-footer accordion-btn">Dúvidas</h5>
                        <vtex.cmc:footerUsefulInformations/>
                    </div>
                    <div class="col-sm-5 col-md-2 col-institucional accordion-content">
                        <h5 class="title-footer accordion-btn">Institucional</h5>
                        <vtex.cmc:footerInstitucional/>
                    </div>
                    <div class="col-sm-7 col-md-4 col-contact accordion-content">
                        <h5 class="title-footer accordion-btn">
                            <i class="fas fa-question-circle"></i>
                            Atendimento
                        </h5>
                        <vtex.cmc:footerCustomService/>
    
                        <div class="d-none d-md-block">
                            <h5 class="title-footer">Redes Sociais</h5>
                            <vtex.cmc:socialNetworks/>
                        </div>
                    </div>
                    <div class="col-sm-5 col-social-networks accordion-content d-block d-md-none">
                        <h5 class="title-footer accordion-btn">
                            Redes Sociais
                        </h5>
                        <vtex.cmc:socialNetworks/>
                    </div>
                    <div id="footer-payments" class="col-sm-12 col-md-3">
                        <div class="row justify-content-between">
                            <div class="col-sm-12 col-payments accordion-content">
                                <h5 class="title-footer accordion-btn">Formas de Pagamento</h5>
                                <vtex.cmc:flagsPayments/>
                            </div>
                            <div class="col-sm-12 col-security accordion-content">
                                <h5 class="title-footer accordion-btn">Site Seguro</h5>
                                <vtex.cmc:flagsSecurity/>
                                <div data-trustvox-certificate-fixed=""></div>
                            </div>
                            <!-- <div class="col-sm-6 col-md col-lg-auto col-shipping d-none d-sm-block">
                                <h5 class="title-footer">Gestão de Frete</h5>
                                <vtex.cmc:flagsShipping/>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="footer-copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <vtex.cmc:footerCopyright/>
                    </div>
                    <div id="footer-signature" class="col-md-5 col-lg-4 col-xl-3">
                        <vtex.cmc:footerSignature/>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Trustvox -->
    <style>
        .trustvox-showcase {width: 100%; height: 26px;}
    </style>
    <script type="text/javascript">
     var _trustvox_shelf_rate = _trustvox_shelf_rate || [];
     _trustvox_shelf_rate.push(['_storeId', '84766']);
     _trustvox_shelf_rate.push(['_productContainer', 'body']);
     _trustvox_shelf_rate.push(['_watchSubtree', true]);
    </script>
    <script type="text/javascript" async="true" src="//rate.trustvox.com.br/widget.js"></script>
    <script type="text/javascript" async="true" src="//certificate.trustvox.com.br/widget.js"></script>
    <!-- /Trustvox -->