﻿<!--
    * Merco Store
    * @author Leonam Bernini [ADMAKE]
    * @version 2.0

    https://admake.com.br
-->

<footer id="footer-new">
    <div class="container">
        <div class="footer-nav">
            <ul class="d-flex justify-content-between align-items-center flex-wrap flex-sm-nowrap">
                <vtex.cmc:footerNav/>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="footer-flags">
            <div class="d-flex justify-content-between align-items-center flex-wrap flex-sm-nowrap">
                <div class="col-payments">
                    <h5>Pague com</h5>
                    <div class="box">
                        <vtex.cmc:flagsPayments/>
                    </div>
                </div>
                <div class="col-security">
                    <h5>Site Seguro</h5>
                    <div class="box">
                        <vtex.cmc:flagsSecurity/>
                        <div data-trustvox-certificate-fixed=""></div>
                    </div>
                </div>
                <div class="col-social-links">
                    <vtex.cmc:socialNetworks/>
                </div>
            </div>
        </div>
    </div>

    <div id="footer-copyright">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center flex-wrap flex-sm-nowrap">
                <div class="copyright">
                    <vtex.cmc:footerCopyright/>
                </div>
                <div class="signature">
                    <vtex.cmc:footerSignature/>
                </div>
            </div>
        </div>
    </div>

</footer>
    
<!-- Trustvox -->
<style>
    .trustvox-showcase {width: 100%; height: 26px;}
</style>
<script type="text/javascript">
    var _trustvox_shelf_rate = _trustvox_shelf_rate || [];
    _trustvox_shelf_rate.push(['_storeId', '84766']);
    _trustvox_shelf_rate.push(['_productContainer', 'body']);
    _trustvox_shelf_rate.push(['_watchSubtree', true]);
</script>
<script type="text/javascript" async="true" src="//rate.trustvox.com.br/widget.js"></script>
<script type="text/javascript" async="true" src="//certificate.trustvox.com.br/widget.js"></script>
<!-- /Trustvox -->