<!--
    * Merco Store
    * @author Lucas Ferreira [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->
<header id="header">
    <div id="header-info" class="d-none d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-social-networks col-auto col-lg-3">
                    <vtex.cmc:socialNetworks/>
                </div>
                <div class="col-login col-auto">
                    <vtex.cmc:welcomeMessage/>
                </div>
                <div class="col-contact col-auto ml-auto">
                    <vtex.cmc:email/>
                    <vtex.cmc:phone/>
                </div>
            </div>
        </div>
    </div>

    <div id="header-bar">
        <div class="container">
            <div class="row align-items-center">
                <div id="header-bar-menu" class="col-2 d-block d-md-none">
                    <button class="btn">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>

                <div id="header-brand" class="col-6 col-sm-7 col-md-3">
                    <h1 class="brand">
                        <b class="sr-only">
                            <vtex.cmc:storeName/>
                        </b>
                        <vtex:storeBrandImage/>
                    </h1>
                </div>

                <div id="header-search" class="search-box col-md-7">
                    <vtex.cmc:fullTextSearchBox/>
                </div>

                <div id="header-links" class="ml-auto col-4 col-sm-3 col-md-2">
                    <div class="d-flex justify-content-between justify-content-xl-end align-items-center">
                        <div class="col-header-login">
                            <a class="btn hvr-icon-pop" href="/account/">
                                <img src="/arquivos/icon-user.png" alt="my account" />
                                <span>Minha Conta</span>
                            </a>
                        </div>
                        <div class="bar d-none d-lg-block"></div>
                        <div class="col-header-cart" data-admake="cart-sidebar" data-config="{'title': 'Carrinho'}">
                            <a href="/checkout/#/cart" title="My cart" class="hvr-icon-pop">
                                <img src="/arquivos/icon-cart.png" alt="icone carrinho" />
                                <span class="badge">0</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav id="header-navbar" class="d-none d-md-block">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div id="header-menu">
                    <button class="btn">
                        <i class="fas fa-bars"></i>
                        <span>Departamentos</span>
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <ul class="nav-items"></ul>
                </div>
                <div id="header-menu-info">
                    <vtex.cmc:linksHeader/>
                    <div id="header-offert-showcase" data-admake="counter-down">
                        <img src="/arquivos/icon-nav-oferta-semana@2x.png" alt="" width="21" height="24" />
                        Oferta da Semana
                        <span class="d-none user-timer">
                            <vtex.cmc:offertShowcaseCounter/>
                        </span>
                        <div class="content">
                            <div class="timer"></div>
                            <section class="offert-showcase showcase" data-admake="carousel" data-qty="1" data-selector="> div > ul" data-config="{'dots': false}">
                                <vtex.cmc:offertShowcase/>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="menu-vtex" class="d-none">
        <vtex.cmc:departmentNavigator/>
    </div>

    <nav id="header-nav-mobile">
        <div class="mask"></div>
        <div class="content">
            <button class="btn nav-mobile-close">
                <i></i>
            </button>
            <strong class="title">Departamentos</strong>
            <div class="body">
                <ul class="nav-items"></ul>
            </div>
        </div>
    </nav>

    <div class="navbar-banners" data-index="0" style="display: none;">
        <vtex:navBarUm/>
    </div>
    <div class="navbar-banners" data-index="1" style="display: none;">
        <vtex:navBarDois/>
    </div>
    <div class="navbar-banners" data-index="2" style="display: none;">
        <vtex:navBarTres/>
    </div>
    <div class="navbar-banners" data-index="3" style="display: none;">
        <vtex:navBarQuatro/>
    </div>
    <div class="navbar-banners" data-index="4" style="display: none;">
        <vtex:navBarCinco/>
    </div>
    <div class="navbar-banners" data-index="5" style="display: none;">
        <vtex:navBarSeis/>
    </div>
    <div class="navbar-banners" data-index="6" style="display: none;">
        <vtex:navBarSete/>
    </div>
    <div class="navbar-banners" data-index="7" style="display: none;">
        <vtex:navBarOito/>
    </div>
    <div class="navbar-banners" data-index="8" style="display: none;">
        <vtex:navBarNove/>
    </div>
</header>