﻿@import 'components/_priceRange.scss';
#page-department {
    .row-department {
        margin-bottom: 60px;
        margin-top: 30px;
        .col-navigator {
            .mask {
                @include mask;
            }
            .title-mobile {
                @include title-default(18px, $color: $color3, $mb: 20px);
                padding: 20px 0;
                position: relative;
                border-bottom: 1px solid $colorBorder;
                i {
                    margin-right: 5px;
                }
                button {
                    @include center-absolute($vertical: true);
                    right: 0;
                }
            }
            #department-navigator {
                .menu-navegue,
                .search-single-navigator {
                    display: none !important;
                }
                .search-multiple-navigator {
                    display: block !important;
                    > h3, > h4{
                        display: none!important;
                    }
                    fieldset {
                        position: relative;
                        label {
                            position: relative;
                            cursor: pointer;
                            input {
                                visibility: hidden;
                                display: none;
                                &:checked+i {
                                    background: $colorSecondary;
                                    &:before {
                                        @include fontAwesome('\f00c', $size: 9px, $color: #fff, $display: block);
                                        @include center-absolute($horizontal: true, $vertical: true);
                                    }
                                }
                            }
                            i {
                                @include size(14px);
                                position: relative;
                                display: inline-block;
                                margin-right: 10px;
                                vertical-align: -2px;
                                border: 1px solid #AAAAAA;
                                background: #fff;
                                cursor: pointer;
                            }
                        }
                        >div {
                            .ver-filtros {
                                font-size: 0;
                                position: absolute;
                                top: 9px;
                                right: 0;
                                &::before {
                                    @include fontAwesome('\f057', $size: 16px, $color: $colorDanger);
                                }
                            }
                        }
                    }
                }
                .search-single-navigator,
                .search-multiple-navigator {
                    h3 {
                        &,
                        +ul,
                        +hr {
                            display: none;
                        }
                    }
                    h4,
                    h5 {
                        @include title-default(18px, $mb: 5px);
                        line-height: 32px;
                    }
                    ul,
                    fieldset {
                        margin-bottom: 30px;
                        position: relative;
                        a:not(.ver-filtros),
                        label {
                            font-size: 14px;
                            color: $color3;
                            line-height: 30px;
                            letter-spacing: 0.2px;
                            &:hover {
                                color: $colorPrimary;
                            }
                        }
                    }
                    ul,
                    fieldset>div {
                        max-height: 250px;
                        overflow: auto;
                        &::-webkit-scrollbar {
                            width: 4px;
                        }
                        &::-webkit-scrollbar-track {
                            background: #EDEDED;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: $colorSecondary;
                        }
                    }
                }
            }
            .search-filter-button {
                @include btn-default($colorSecondary, #fff, $width: 100%, $height: 40px);
                margin: 25px 0 0;
                display: block;
                font-size: 0;
                &:before {
                    content: 'Filtrar';
                    font-size: 15px;
                }
            }
            @include media-queries('phone-wide', max) {
                display: none;
                position: fixed;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 101;
                .content {
                    position: fixed;
                    left: -100%;
                    top: 0;
                    bottom: 0;
                    background: #fff;
                    max-width: 320px;
                    z-index: 111;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    padding: 0 20px 20px;
                }
            }
        }
        .col-showcase {
            >h2 {
                @include title-default($mb: 30px);
            }
            #department-showcase {
                margin: 0;
                #open-filter-mobile {
                    color: $color3;
                    font-size: 13px;
                    i {
                        margin-right: 5px;
                    }
                }
                .sub .compare,
                .resultItemsWrapper+.searchResultsTime,
                .resultItemsWrapper+.searchResultsTime+.sub,
                .resultado-busca-termo,
                .resultado-busca-tempo,
                .pager.top {
                    display: none !important;
                }
                .sub {
                    @extend %justify-content-between,
                    %align-items-center;
                    border-bottom: 1px solid $colorBorder;
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                    .resultado-busca-numero {
                        margin-bottom: 15px;
                        display: block;
                        .label {
                            font-size: 12px;
                            color: $color3;
                            letter-spacing: 0.2px;
                        }
                        .value {
                            font-size: 12px;
                            font-weight: $bold;
                            color: $colorPrimary;
                            &::after {
                                content: 'produtos';
                                display: inline-block;
                                margin-left: 3px;
                            }
                        }
                    }
                    .resultado-busca-filtro {
                        @extend %d-flex,
                        %align-items-center,
                        %justify-content-between;
                        fieldset {
                            font-size: 0;
                            min-width: 70px;
                            label {
                                display: none;
                            }
                            select {
                                width: 100%;
                                height: 46px;
                            }
                            &.filterBy {
                                display: none;
                            }
                        }
                    }
                    @include media-queries('phone-wide') {
                        .resultado-busca-filtro {
                            fieldset {
                                & {
                                    font-size: 12px;
                                    color: #AAAAAA;
                                    letter-spacing: 0.2px;
                                }
                                label,
                                select {
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                                select {
                                    height: 36px;
                                }
                                label {
                                    display: inline-block;
                                    margin: 0 5px 0 0;
                                }
                                &.orderBy {
                                    select {
                                        width: 200px;
                                    }
                                }
                                &.filterBy {
                                    display: block;
                                    margin-left: 15px;
                                    select {
                                        width: 60px;
                                    }
                                }
                            }
                        }
                    }
                    @include media-queries('tablet') {
                        display: -ms-flexbox !important;
                        display: flex !important;
                        .resultado-busca-numero {
                            margin-bottom: 0;
                        }
                        .resultado-busca-filtro {
                            fieldset.filterBy {
                                margin-left: 25px;
                            }
                        }
                    }
                }
                .pager {
                    margin-top: 20px;
                    .pages {
                        text-align: center;
                        display: block;
                        margin: 0;
                        li {
                            @extend %transition;
                            text-align: center;
                            display: inline-block;
                            vertical-align: top;
                            width: auto;
                            padding: 0 3px;
                            margin: 0 0 0 -1px;
                            border: 1px solid #E5E5E5;
                            background: #fff;
                            font-size: 14px;
                            color: $colorPrimary;
                            font-weight: $medium;
                            line-height: 30px;
                            min-width: 36px;
                            cursor: pointer;
                            &.first {
                                display: none;
                            }
                            &.previous,
                            &.next {
                                font-size: 0;
                                color: transparent;
                                line-height: 0;
                                &:before {
                                    @extend %transition;
                                    @include fontAwesome('\f0d9', $display: block, $color: $colorPrimary, $size: 14px);
                                    line-height: 30px;
                                }
                            }
                            &.page-number {}
                            &.next {
                                &:before {
                                    content: "\f0da";
                                }
                            }
                            &.last {
                                display: none;
                            }
                            &:hover,
                            &.pgCurrent {
                                &,
                                &:before {
                                    border-color: $colorSecondary;
                                    background: $colorSecondary;
                                    color: #fff;
                                }
                            }
                            &.pgEmpty {
                                &,
                                &:before,
                                &:hover,
                                &:hover:before {
                                    cursor: no-drop;
                                    border-color: #E5E5E5;
                                    color: #ddd;
                                    background: #f2f2f2;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include media-queries('phone-wide') {
            margin-top: 10px;
            .col-showcase {
                #department-showcase {
                    .pager .pages {
                        text-align: right;
                    }
                }
            }
        }
    }
    .department-description {
        padding: 20px 0;
        border-width: 1px 0;
        border-color: $colorBorder;
        border-style: solid;
        h1 {
            font-weight: $medium;
            font-size: 20px;
            color: $colorPrimary;
            letter-spacing: 0.29px;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 20px;
        }
        @include media-queries('phone-wide') {
            padding: 40px 0;
        }
    }
    &.ad-search {
        .department-range #filterRanger {
            display: block;
        }
    }
}