﻿@import 'components/_showcase-hotdeal.scss';
#page-home {
    #full-banner,
    #full-banner-mobile {
        line-height: 0;
        .slick-dots {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin: 0;
            li {
                button {
                    background: #fff;
                    opacity: .4;
                }
                &.slick-active {
                    button {
                        opacity: 1;
                    }
                }
            }
        }
    }
    #mini-banner-01,
    #mini-banner-mosaic {
        a {
            @extend %hover-zoom;
            display: inline-block;
        }
    }
    #mini-banner-01 {
        margin: 18px -15px;
        @include media-queries('phone-wide') {
            margin: 40px -15px 18px;
            .box-banner {
                padding: 0 15px;
            }
        }
    }
    #mini-banner-mosaic {
        img {
            max-width: 100%;
            height: auto;
        }
        .last {
            margin: -8px 0;
            .box-banner {
                padding: 8px 0;
            }
            @include media-queries('desktop') {
                margin: -14px 0;
                .box-banner {
                    padding: 14px 0;
                }
            }
        }
    }
    .mini-mobile {
        margin: 0 -15px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    #footer-brands {
        margin: 35px 0;
        h2 {
            @include title-default(20px, $mb: 25px);
            text-align: center;
        }
        ul {
            margin: 0 -5px;
            .slick-slide {
                padding: 0 5px;
                display: inline-block;
                float: none;
                vertical-align: bottom;
                a {
                    img {
                        @extend %transition;
                        margin: 0 auto;
                        max-width: 100%;
                        height: auto;
                    }
                    &:hover {
                        img {
                            @include prefixed('filter', grayscale(100%));
                        }
                    }
                }
            }
            .slick-arrow {
                color: #D6DEE4;
                background: transparent;
            }
        }
        @include media-queries('phone-wide'){
            margin: 65px 0;
        }
    }
    #footer{
        margin-top: 0;
    }
}

#mini-banner-new{
    .slick-list{
        margin: 0 -15px;
        .slick-slide{
            padding: 15px;
        }
    }
}