﻿// institucional
#page-institucional{
    main {
        padding-top: 60px;
        padding-bottom: 60px;
        .institucional-nav {
            > div{
                ul{
                    margin-bottom: 30px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                h5{
                    @include title-default(16px, $colorSecondary, $mb: 10px);
                }
                a{
                    @include underline-from-left($colorSecondary);
                    color: $color3;
                    line-height: 30px;
                    &.active, &:hover{
                        color: $colorSecondary;
                    }
                }
            }
        }
        .institucional-content {
            h2, h3 {
                @include title-default(20px);
                margin-bottom: 25px;
            }
            p, h5 {
                line-height: 22px;
            }
            h5{
                @include title-default(18px);
                margin-bottom: 15px;
            }
            p, ul{
                margin-bottom: 20px;
            }
            ul{
                padding-left: 20px;
                li{
                    @extend %text-default;
                    list-style: disc;
                }
            }
            a{
                color: $colorPrimary;
                &:hover{
                    color: $colorSecondary;
                }
            }
            form{
                button{
                    float: right;
                    width: 120px;
                    height: 50px;
                    line-height: 30px;
                }
            }
        }
        @include media-queries('tablet', max) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}
