﻿@import '../components/_buy_together.scss';
#page-product {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    main {
        >hr {
            margin: 20px 0;
        }
        .product-main {
            margin-top: 30px;
            text-align: center;
            .product-flags {
                margin-bottom: 20px;
                .flag {
                    @extend %flag;
                    display: inline-block;
                    margin-right: 5px;
                }
                .discount {
                    display: inline-block;
                }
            }
            .product-name {
                @include title-default(18px, $mb: 10px);
                text-transform: uppercase;
            }
            .product-header {
                // margin-bottom: 20px;
                .product-rating {
                    strong {
                        display: none;
                    }
                    span {
                        font-size: 0;
                        cursor: pointer;
                    }
                }
                .product-sku-brand {
                    .product-brand,
                    .product-sku {
                        font-size: 13px;
                        color: #AAAAAA;
                        letter-spacing: 0;
                        >div {
                            display: inline-block;
                            vertical-align: baseline;
                        }
                    }
                    .product-sku {
                        margin-bottom: 5px;
                    }
                }
            }
            .product-short-description {
                &,
                p {
                    font-size: 14px;
                    color: $color3;
                    letter-spacing: 0;
                }
            }
            .product-row {
                margin-top: 30px;
                .col-image {
                    position: relative;
                    .product-image {
                        #show {
                            display: none;
                            position: relative;
                            #include {
                                padding-left: 85px;
                                #image {
                                    background: #fff;
                                    .zoomPad {
                                        overflow: hidden;
                                        position: relative;
                                    }
                                    .zoomWindow {
                                        overflow: hidden;
                                        left: 0 !important;
                                        right: 0 !important;
                                        bottom: 0 !important;
                                        top: 0 !important;
                                        z-index: 10 !important;
                                        background: #fff;
                                    }
                                    .image-zoom {
                                        display: block;
                                        text-align: center;
                                        max-width: 500px;
                                        margin: 0 auto;
                                    }
                                    #image-main {
                                        display: block;
                                        margin: 0 auto;
                                        max-width: 100%;
                                    }
                                    .zoomWrapperImage {
                                        img {
                                            min-width: 1200px;
                                        }
                                    }
                                }
                            }
                            .thumbs {
                                position: absolute;
                                top: 0;
                                left: 0;
                                max-width: 85px;
                                margin: -4px 0;
                                li {
                                    padding: 4px 0;
                                    a {
                                        @include size(65px);
                                        text-align: center;
                                        line-height: 63px;
                                        background: #FFFFFF;
                                        border: 1px solid #E1E1E1;
                                        display: inline-block;
                                        img {
                                            display: inline-block;
                                            vertical-align: middle;
                                        }
                                        &.ON,
                                        &:hover {
                                            border-color: #9ABDDC;
                                        }
                                    }
                                }
                            }
                        }
                        .product-image-mobile {
                            img {
                                margin: auto;
                            }
                        }
                    }
                }
                .col-details {
                    >p {
                        font-size: 12px;
                        color: #9C9C9C;
                        letter-spacing: -0.38px;
                    }
                    .product-info-border{
                        // border: 1px solid #E1E1E1;
                        padding-top: 15px;
                        border-top: 1px solid #e1e1e1;
                        .row-price-buy{
                            // padding: 33px 21px;
                            // border-bottom: 1px solid #E1E1E1;
                        }
                        .product-shipping{
                            padding: 25px 0;
                            // background: #e1e1e1;
                            // @media( min-width: 992px ){
                            //     padding: 25px 30px;
                            // }
                        }

                        #ad-product-buy-button{
                            width: 100%;
                            margin: 10px 0 0;
                            @media( min-width: 992px ){
                                // max-width: 200px;
                                margin-left: auto;
                                margin-top: 0;
                            }
                        }
                    }
                    .help-price{
                        display: none!important;
                    }
                    .get-final-price{
                        margin-bottom: 10px;
                        .preco-boleto{
                            > strong{
                                font-size: 32px;
                                color: #0062A9;
                                font-weight: bold;
                                letter-spacing: -0.5px;
                                display: block;
                                i{
                                    font-size: 26px;
                                    padding: 1px 7px;
                                    border: 1px solid #0062A9;
                                    margin-right: 5px;
                                    vertical-align: middle;
                                }
                                > small{
                                    font-size: 20px;
                                    color: #0062A9;
                                    letter-spacing: 0.1px;
                                }
                            }
                            > small{
                                margin-top: 5px;
                                font-size: 12px;
                                color: #858585;
                                letter-spacing: 0.1px;
                                display: block;
                            }
                        }
                        .preco-cartao{
                            width: 100%;
                            margin-top: 15px;
                            // @media( min-width: 992px ){
                            //     max-width: 200px;
                            // }
                            > strong{
                                font-size: 20px;
                                color: #0062A9;
                                font-weight: $medium;
                                letter-spacing: 0.11px;
                                line-height: 17px;
                                display: block;
                            }
                            span{
                                color: #858585;
                                font-size: 16px;
                                font-weight: $medium;
                                i{
                                    color: #E60014;
                                    font-size: 25px;
                                    vertical-align: middle;
                                    margin-right: 10px;
                                    // border: 1px solid #E60014;
                                    // padding: 1px 6px;
                                }
                                label{
                                    color: #0060AB;
                                    font-size: 16px;
                                    font-weight: $medium;
                                }
                            }
                        }
                    }
                    .product-variations {
                        .topic {
                            margin-bottom: 15px;
                            .specification {
                                @include title-default(18px, $mb: 5px);
                            }
                            .skuList {
                                .skuselector-specification-label {
                                    display: none;
                                }
                                >span {
                                    display: block;
                                    margin: 0 -5px;
                                }
                                label[class*="dimension-"] {
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin: 5px;
                                    cursor: pointer;
                                    transition: 300ms all;
                                    &:not(.thumb-icon) {
                                        color: $colorPrimary;
                                        font-size: 13px;
                                        line-height: 17px;
                                        text-transform: uppercase;
                                        font-weight: $bold;
                                        padding: 8px 15px;
                                        background: #F2F2F2;
                                        &:hover,
                                        &.sku-picked {
                                            color: #FFFFFF;
                                            background: $colorSecondary;
                                        }
                                    }
                                    &.thumb-icon {
                                        padding: 1px;
                                        border: 1px solid transparent;
                                        line-height: 0;
                                        img {
                                            max-width: 34px;
                                            height: auto;
                                        }
                                        &:hover,
                                        &.sku-picked {
                                            border-color: $colorSecondary;
                                        }
                                    }
                                    &.disabled {
                                        position: relative;
                                        &:after {
                                            @include size(16px);
                                            @include fontAwesome("\f00d", $display: block, $color:#fff, $size: 8px);
                                            position: absolute;
                                            right: -5px;
                                            bottom: -5px;
                                            background: $colorDanger;
                                            border-radius: 100%;
                                            text-align: center;
                                            line-height: 14px;
                                            padding: 0;
                                            border: 1px solid #FFFFFF;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .portal-notify {
                        .portal-notify-me-ref {
                            padding: 20px;
                            background: #F2F2F2;
                            text-align: center;
                            h3 {
                                @include title-default(20px, $color3, $mb: 10px);
                            }
                            p {
                                font-size: 13px;
                                margin-bottom: 15px;
                            }
                            fieldset {
                                position: relative;
                                input {
                                    vertical-align: middle;
                                    &[type="text"] {
                                        @include size(100%, 50px);
                                        border-color: #E5E5E5;
                                        &.notifyme-client-email {
                                            padding-right: 50px;
                                            margin: 5px 0 0;
                                        }
                                    }
                                    &[type="button"] {
                                        @extend %reset-btn;
                                        @include size(50px);
                                        color: $color3;
                                        bottom: 0;
                                        right: 0;
                                        position: absolute;
                                        text-align: center;
                                        line-height: 50px;
                                        &::before {
                                            @include fontAwesome("\f30b", $color: $color3);
                                        }
                                    }
                                }
                            }
                            @include media-queries('phone-wide') {
                                padding: 30px 40px;
                                p {
                                    margin-bottom: 25px;
                                }
                            }
                            @include media-queries('tablet') {
                                fieldset {
                                    input {
                                        &[type="text"] {
                                            width: 49%;
                                            &.notifyme-client-email {
                                                margin: 0 0 0 5px;
                                            }
                                        }
                                        &[type="button"] {
                                            bottom: initial;
                                            top: 67px;
                                            right: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .product-price {
                        label {
                            display: inline-block;
                            margin-bottom: 0;
                            &,
                            span {
                                color: $color3;
                                font-weight: $medium;
                            }
                        }
                        em,
                        span {
                            font-size: 14px;
                            color: #AAAAAA;
                            letter-spacing: 0.12px;
                            line-height: 16px;
                        }
                        .preco-a-vista,
                        .economia-de {
                            display: none !important;
                        }
                        .price-list-price {
                            strong {
                                text-decoration: line-through;
                            }
                        }
                        .price-best-price {
                            font-size: 0;
                            strong {
                                font-weight: $bold;
                                font-size: 32px;
                                color: $colorPrimary;
                                letter-spacing: -0.5px;
                                line-height: 38px;
                            }
                            small{
                                display: block;
                                font-size: 12px;
                                color: #AAAAAA;
                                letter-spacing: 0.1px;
                            }
                        }
                        .other-payment-method-content {
                            padding: 3px 0;
                            position: relative;
                            .see-other-payment-method-link {
                                display: none !important;
                            }
                            .other-payment-method {
                                display: inline-block;
                                cursor: pointer;
                                position: relative;
                                .titulo-parcelamento {
                                    @extend %transition;
                                    font-size: 13px;
                                    color: $color3;
                                    font-weight: $light;
                                    line-height: 17px;
                                    text-decoration: underline;
                                    &:hover {
                                        color: $colorSecondary;
                                    }
                                }
                                .other-payment-method-ul {
                                    @extend %transition;
                                    text-align: left;
                                    position: absolute;
                                    padding: 0 15px;
                                    background: $colorWhite;
                                    border: 0 none;
                                    border-radius: 2px;
                                    height: 0;
                                    top: 50px;
                                    left: 0;
                                    width: 250px;
                                    overflow: hidden;
                                    z-index: 99;
                                    li {
                                        line-height: 30px;
                                        text-align: center;
                                        &, span{
                                            font-size: 12px;
                                            color: #AAAAAA;
                                        }
                                        strong {
                                            color: $colorPrimary
                                        }
                                    }
                                    &:before,
                                    &:after {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                    }
                                    &:before {
                                        top: -20px;
                                        left: 12%;
                                        z-index: 2;
                                        border: 10px solid transparent;
                                        border-bottom-color: $colorBorder;
                                    }
                                    &:after {
                                        left: 0;
                                        right: 0;
                                        height: 10px;
                                        background: transparent;
                                        top: -10px;
                                        z-index: 1;
                                    }
                                    @include media-queries('phone'){
                                        @include content-columns(2);
                                        width: 370px;
                                    }
                                }
                                &:hover {
                                    .other-payment-method-ul {
                                        padding: 15px;
                                        border: 1px solid $colorBorder;
                                        height: auto;
                                        top: 100%;
                                        overflow: visible;
                                        margin-top: 10px;
                                    }
                                }
                            }
                            @include media-queries('phone-wide', max){
                                .other-payment-method{
                                    position: initial;
                                    .other-payment-method-ul{
                                        &, &:before{
                                            left: 50%;
                                            transform: translateX(-50%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .product-seller {
                        margin: 15px 0 0;
                        >p {
                            font-size: 12px;
                            color: $colorPrimary;
                            letter-spacing: 0.17px;
                            font-weight: $bold;
                            display: none;
                        }
                        .seller-name {
                            position: relative;
                            strong,
                            a {
                                font-size: 12px;
                                color: $colorPrimary;
                                letter-spacing: 0.17px;
                                display: inline-block;
                                vertical-align: bottom;
                            }
                            strong {
                                font-size: 0;
                                &::before {
                                    content: 'Vendido por:';
                                    font-size: 12px;
                                }
                            }
                            a {
                                @include truncate(calc(100% - 75px));
                                &:hover {
                                    color: $colorSecondary;
                                }
                            }
                            &::before{
                                content: '';
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                background: transparent;
                            }
                        }
                        .seller-image {
                            display: none;
                        }
                    }
                    .product-buy {
                        margin-top: 15px;
                        .buy-button {
                            @include btn-default($colorSuccess, $fz: 20px, $width: 100%, $height: 62px);
                            font-weight: $medium;
                            img {
                                vertical-align: sub;
                                margin-right: 10px;
                            }
                        }
                    }
                    .product-shipping {
                        .text {
                            // margin-bottom: 15px;
                            img,
                            span {
                                display: inline-block;
                                vertical-align: bottom;
                            }
                            img {
                                margin-right: 8px;
                            }
                            span {
                                font-size: 14px;
                                color: #5A5E67;
                                letter-spacing: -0.22px;
                                font-weight: $medium;
                            }
                        }
                        .col-input {
                            input,
                            button {
                                display: inline-block;
                                vertical-align: middle;
                            }
                            input {
                                margin-right: 9px;
                                height: 39px;
                                font-size: 14px;
                                width: 160px;
                                border-radius: 3px;
                                @include media-queries('phone') {
                                    width: auto;
                                }
                                @include media-queries('desktop') {
                                    min-width: 200px;
                                }
                            }
                            button {
                                @include btn-default(#206DB0, $fz: 14px, $width: 115px, $height: 39px);
                                border-radius: 3px;
                                @media( max-width: 991px ){
                                    width: 79px;
                                }
                            }
                        }
                        .col-text {
                            // margin-top: 15px;
                            a {
                                font-size: 13px;
                                color: #8CA8C1;
                                letter-spacing: 0;
                                text-decoration: underline !important;
                                &:hover {
                                    color: #206DB0;
                                }
                            }
                        }
                        #shipping-results {
                            padding-top: 8px;
                            table {
                                th {
                                    color: $colorPrimary;
                                    font-size: 12px;
                                    text-align: left;
                                    border-top: 0;
                                    font-weight: $bold;
                                }
                                td {
                                    color: $color3;
                                    font-size: 13px;
                                    text-align: left;
                                    &.value {
                                        font-weight: $bold;
                                    }
                                }
                            }
                        }
                    }
                    hr.line {
                        margin-bottom: 15px;
                    }
                    @include media-queries('tablet') {
                        .product-buy {
                            margin-top: 0;
                        }
                        .product-shipping {
                            .row {
                                .col-text {
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
            }
            @include media-queries('phone') {
                .product-header {
                    // margin-bottom: 20px;
                    .product-rating {
                        span {
                            &::after {
                                content: 'Avalie este produto';
                                font-size: 11px;
                                color: #5A5E67;
                                letter-spacing: 0.08px;
                                vertical-align: 2px;
                                margin-left: 5px;
                                text-decoration: underline;
                                font-family: $fontFamily;
                                font-weight: $regular;
                            }
                        }
                    }
                }
            }
            @include media-queries('phone-wide') {
                text-align: left;
                margin: 5px;
                .product-name {
                    font-size: 24px;
                }
                .product-header {
                    padding-bottom: 15px;
                    // border-bottom: 1px solid $colorBorder;
                    // margin-bottom: 30px;
                }
                .product-flags {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    margin-bottom: 0;
                }
            }
            @include media-queries('tablet') {
                .product-flags {
                    left: 110px;
                }
            }
        }
        .product-description,
        .product-specification,
        .product-review {
            h2 {
                @include title-default(18px, $colorPrimary, $mb: 0);
            }
        }
        .product-description {
            br {
                display: none;
            }
            p {
                margin-bottom: 20px;
            }
            ul {
                padding-left: 20px;
                li {
                    list-style: disc;
                }
            }
            .productDescription {
                @extend %text-default;
            }
        }
        .product-specification {
            h4 {
                @include title-default(16px, $mb: 15px);
            }
            table {
                margin-bottom: 30px;
                th,
                td {
                    font-size: 14px;
                    letter-spacing: 0;
                    line-height: 15px;
                    font-weight: $bold;
                    color: $colorPrimary;
                    &.value-field {
                        font-weight: $regular;
                        color: $color3;
                    }
                }
            }
            @include media-queries('tablet') {
                h4,
                table {
                    max-width: 50%;
                }
            }
        }
        .product-review {
            h2 {
                margin-bottom: 30px;
            }
        }
        @include media-queries('phone') {
            .product-description,
            .product-specification {
                h2 {
                    margin-bottom: 30px;
                }
            }
        }
        @include media-queries('phone-wide') {
            >hr {
                margin: 60px 0;
            }
            .product-main{
                + hr{
                    margin: 0 0 20px;
                }
            }
        }
    }
}