﻿#page-sellers {
    main {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .seller-description {
        @extend %align-items-center;
        margin: 40px 0;
        padding: 20px;
        border: 1px solid #dfdfdf;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        h2{
            margin-right: 20px;
        }
        @include media-queries('phone'){
            display: -ms-flexbox !important;
            display: flex !important;
        }
    }
}