﻿// 404, 500, empty-search
#page-404,
#page-500,
#page-empty-search {
    main {
        margin-top: 75px;
        margin-bottom: 30px;
        text-align: center;
        h1{
            margin-bottom: 10px;
        }
        .info {
            padding-bottom: 45px;
            border-bottom: 1px solid $colorBorder;
            p {
                margin-bottom: 40px;
                text-align: center;
            }
            a{
                @extend .btn-lg;
            }
        }
        .showcase h2{
            text-align: left;
        }
        @include media-queries('phone-wide', max){
            margin-top: 30px;
            margin-bottom: 20px;
            h1{
                font-size: 16px;
            }
        }
    }
}
#page-empty-search {
    main .search-bar-box input.btn-buscar {
        right: 0;
    }
    .search-box{
        max-width: 670px;
        margin: auto;
    }
}
