﻿#page-wishlist{
    main{
        padding-top: 30px;
        padding-bottom: 30px;
        h1{
            text-align: center;
            i{
                color: $colorSecondary;
            }
        }

        @include media-queries('tablet') {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
}