﻿.cart-template {
    #render-checkout-buttons {
        display: none;
    }
    .cart-template-holder {
        .empty-cart-content {
            .empty-cart-title {
                @include title-default(18px, $mb: 10px, $color: $colorSecondary);
            }
            p {
                @include text-default(14px);
                margin-bottom: 30px;
            }
        }
        .cart {
            border: 0 none;
            border-radius: 0;
            padding: 0;
            .cart-items {
                thead {
                    background: #F1F1F1;
                    th {
                        font-weight: $regular;
                        font-size: 13px;
                        color: $colorPrimary;
                        padding: 10px 15px;
                    }
                }
                tbody {
                    .product-item {
                        td {
                            padding-top: 20px;
                            padding-bottom: 20px;
                            border-bottom: 1px solid $colorBorder;
                            font-size: 13px;
                        }
                        .product-image {}
                        .product-name {
                            .brand,
                            .seller {
                                display: none;
                            }
                        }
                        .shipping-date {}
                        .product-price {
                            font-weight: $semiBold;
                            color: $colorSecondary;
                            .old-product-price-label,
                            .new-product-price-label {
                                display: none;
                            }
                        }
                        .quantity {
                            position: relative;
                            width: 74px;
                            a {
                                @include center-absolute($vertical: true);
                                @include size(20px, 40px);
                                left: 0;
                                line-height: 39px;
                                font-size: 16px;
                                color: $color3;
                                &.item-quantity-change-decrement {
                                    left: 0;
                                    text-align: right;
                                    i:before {
                                        content: '-'
                                    }
                                }
                                &.item-quantity-change-increment {
                                    left: initial;
                                    right: 0;
                                    text-align: left;
                                    i:before {
                                        content: '+'
                                    }
                                }
                                &:hover {}
                                @include media-queries('phone-wide') {
                                    &.item-quantity-change-decrement {
                                        left: 8px;
                                    }
                                    &.item-quantity-change-increment {
                                        right: 8px;
                                    }
                                }
                            }
                            input {
                                @include size(100%, 40px);
                                border: 1px solid $colorBorder;
                                text-align: center;
                                padding: 0 20px;
                                box-sizing: border-box;
                                margin: 0;
                            }
                        }
                        .quantity-price {
                            font-weight: $semiBold;
                            color: $colorSecondary;
                        }
                        .item-remove {
                            a {
                                font-size: 16px;
                                color: #6F6F6F;
                                letter-spacing: 0;
                                i:before {
                                    content: '\F014';
                                }
                                &:hover {
                                    color: $colorSecondary;
                                }
                            }
                        }
                        @include media-queries('phone-wide', max) {
                            margin-bottom: 10px;
                            padding: 20px 0;
                            border-style: solid;
                            td {
                                border: 0;
                                padding-top: 0;
                                padding-bottom: 0;
                            }
                            .product-name {
                                a {
                                    padding-right: 30px;
                                }
                            }
                            .item-remove {
                                right: 10px;
                                top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .summary-template-holder {
        .summary-coupon-wrap {
            text-align: left;
            .summary-coupon {
                &,
                * {
                    float: none !important;
                }
                label {
                    @include text-default(14px);
                    margin-bottom: 10px;
                }
                #cart-coupon {
                    height: 27px;
                }
                .link-coupon-add {
                    @include btn-default(#6F6F6F, $fz: 16px, $height: 60px, $width: 350px);
                    font-weight: $semiBold;
                    box-sizing: border-box;
                    display: inline-block;
                }
                #cart-coupon-add {
                    @include btn-default;
                    text-shadow: none;
                }
                @include media-queries('phone-wide', max) {
                    width: 100%;
                    .link-coupon-add {
                        display: block;
                        width: 100%;
                        margin: 10px auto 20px;
                    }
                }
            }
        }
        .summary-totalizers {
            table {
                td {
                    &.empty {
                        display: none;
                    }
                    &.info,
                    &.monetary,
                    &.monetary a {
                        font-weight: $bold;
                        font-size: 13px;
                        color: $colorPrimary;
                        letter-spacing: 0;
                    }
                    &.info {
                        float: left;
                        text-align: left;
                    }
                    &.monetary {
                        &,
                        a {
                            text-align: right;
                        }
                    }
                }
                .Shipping {
                    td {
                        color: $colorSecondary;
                    }
                    .icon-remove-sign {
                        color: $colorDanger;
                    }
                }
                .shipping-reset {}
                .shipping-calculate {
                    td.monetary {
                        a {
                            color: $colorPrimary;
                            text-decoration: underline !important;
                        }
                        &.form-postal-code {
                            >.summary-shipping {
                                text-align: right;
                                .shipping-fields {
                                    margin-bottom: 10px;
                                }
                                input {
                                    vertical-align: top;
                                    height: 26px;
                                }
                                button {
                                    @include btn-default($fz: 12px);
                                }
                            }
                        }
                    }
                } // tfoot {
                //     .monetary {
                //         @include title-default(14px, $colorPrimary, 0);
                //         line-height: 20px;
                //     }
                // }
            }
        }
    }
    .cart-links-bottom {
        display: block;
        text-align: center;
        @extend %align-items-center;
        @extend %justify-content-between;
        .link-choose-more-products-wrapper>a {
            @include btn-default(#F1F1F1, $color: $colorPrimary, $height: 60px, $width: 100%, $fz: 16px);
            display: block;
            box-sizing: border-box;
            font-weight: $semiBold;
        }
        #cart-to-orderform {
            display: block;
            text-align: center;
            padding: 0;
            height: 60px;
            line-height: 60px;
            width: 100%;
            font-size: 18px;
        }
        &::after,
        &::before {
            display: none;
        }
        @include media-queries('phone-wide') {
            display: -ms-flexbox;
            display: flex;
            float: none !important;
            .link-choose-more-products-wrapper>a,
            #cart-to-orderform {
                width: 350px;
            }
        }
    }
}

@media (max-width: 767px) {
    .item-quantity-change {
        display: inline-block;
    }
    .item-quantity-change {
        float: left;
        padding: 3px 5px 3px 0px;
    }
    .item-quantity-change-increment {
        padding-left: 5px;
        padding-right: 0;
    }
    .full-cart .cart-links-bottom .btn-success {
        width: 83%;
        display: block;
        margin-top: 10px;
    }
    .full-cart .cart table {
        display: block;
        margin-top: 0 !important;
    }
    .full-cart .cart table thead {
        display: none;
    }
    .full-cart .cart table tbody {
        display: block;
    }
    .full-cart .cart table tbody tr+tr {
        border-top: 1px dashed #ddd;
        padding-top: 10px;
    }
    .full-cart .cart table tbody tr {
        display: block;
        margin-top: 5px;
        position: relative;
        padding-bottom: 8px;
    }
    .full-cart .cart table tbody tr .product-name a,
    .full-cart .cart table tbody tr .product-name .seller {
        overflow: hidden;
    }
    .full-cart .cart table tbody tr td {
        display: inline-block;
        padding: 4px 0;
    }
    .full-cart .cart table tbody tr td.product-name .seller {
        display: block;
        line-height: 120%;
        font-size: 80%;
        margin-top: 4px;
    }
    .full-cart .cart table tbody tr td.product-image,
    .full-cart .cart table tbody tr td.bundle-item-image {
        left: 0;
        position: absolute;
    }
    .full-cart .cart table tbody tr td.product-name {
        display: block;
        margin-left: 60px;
        text-align: left;
        line-height: 140%;
        width: auto;
    }
    .full-cart .cart table tbody tr td.product-name {
        padding: 0 0 10px !important;
    }
    .full-cart .cart table tbody tr td.empty,
    .full-cart .cart table tbody tr td.shipping-date,
    .full-cart .cart table tbody tr td .brand {
        display: none;
    }
    .full-cart .cart table tbody tr td.product-name a,
    .full-cart .cart table tbody tr td.bundle-item-name span {
        display: block;
        padding-right: 20px;
    }
    .full-cart .cart table tbody tr td.quantity {
        width: 81px;
        padding: 0px;
        margin-left: 60px;
    }
    .full-cart .cart table tbody tr td.quantity input {
        float: left;
        margin: 0;
        width: 25px;
    }
    .full-cart .cart table tbody tr td.product-price {
        text-align: right;
        float: right;
        margin-right: 5px;
    }
    .full-cart .cart table tbody tr td.quantity-price {
        display: none;
    }
    .full-cart .cart table tbody tr td.item-remove {
        position: absolute;
        top: -5px;
        right: 0;
        width: 14px;
    }
    .cart-links-bottom {
        float: none;
        margin-top: 5px;
        margin-bottom: 40px;
        text-align: right;
    }
    .more {
        margin-right: 0;
    }
    .full-cart .cart-links-bottom .btn-success {
        width: auto;
    }
    .full-cart .cart table tbody tr.item-attachments-head {
        border: 0;
        margin: 0;
        padding: 0;
    }
    .full-cart .cart table tbody tr.item-attachments-head .item-attachments-header {
        top: auto;
    }
    .full-cart .cart table tbody tr.item-attachments-head .item-attachments-header:after {
        content: none;
    }
    .full-cart .cart table tbody tr.item-attachments-head .item-attachments-header strong {
        box-shadow: none;
    }
    .full-cart .cart table tbody tr.item-attachments-content {
        margin: 0;
        border: 0;
        padding: 0;
    }
    .full-cart .cart table tbody tr.item-attachments-content .item-attachments-item-fields {
        margin-left: 5px;
        width: 95%;
    }
}