﻿.orderform-template {
    .orderform-template-holder {
        .accordion-group {
            border: 0;
            padding: 20px 10px;
            background: #F2F2F2;
            label {
                @include text-default(13px);
                margin-bottom: 5px;
                &[for="client-company-document"], &[for="client-company-nickname"]{
                    font-size: 13px;
                }
            }
            fieldset {
                >p {
                    &.pull-left:not(.hide) {
                        display: block;
                        float: none;
                        
                        @include media-queries('phone-wide'){
                            display: inline-block;
                            vertical-align: top;
                            max-width: calc(50% - 10px);
                        }
                    }
                }
                p {
                    font-size: 14px;
                    color: $color3;
                    line-height: 20px;
                    margin-bottom: 15px;
                    &.ship-number{
                        display: block !important;
                    }
                }
                input {
                    &[type="text"],
                    &[type="tel"],
                    &[type="email"] {
                        padding: 0 10px;
                        height: 40px;
                        line-height: 40px;
                        box-sizing: border-box;
                        border: 1px solid #E5E5E5;
                    }
                    &:not(.input-mini) {
                        width: 100% !important;
                    }
                }
            }
            span.error {
                font-size: 12px;
            }
            .accordion-heading {
                .accordion-toggle {
                    >i {
                        display: none;
                    }
                    span {
                        @include title-default(17px, $color: $color3, $mb: 10px);
                        display: block;
                    }
                    a {
                        color: $colorPrimary;
                    }
                }
            }
            .box-step {
                .submit {
                    button {
                        padding-top: 0;
                        padding-bottom: 0;
                        height: 50px;
                        line-height: 50px;
                        width: 100%;
                        font-size: 14px;
                        margin-top: 25px;
                    }
                }
                p.address,
                .form-step p,
                .shipping-selected-sla {
                    font-size: 13px;
                    color: $colorPrimary;
                }
            }
        }
        #client-profile-data {
            fieldset {
                &.box-client-info-pf {
                    >div:not(.hide):not(.phone-box) {
                        display: block;
                        
                        @include media-queries('phone-wide'){
                            max-width: calc(50% - 10px);
                            display: inline-block;
                        }
                    }
                }
                &.box-client-info-pj {
                    margin-bottom: 15px;
                    .corporate-info-box{
                        margin-top: 15px;
                    }
                    p{
                        float: none;
                        &.client-company-name{
                            label{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
        #shipping-data {
            > .shipping-data.active{
                #billing-address{
                    display: block;
                }
            }
            .cancel-address-form {
                display: none;
            }
            small a {
                font-style: italic;
                font-size: 12px;
                color: $color3;
                line-height: 20px;
                &:hover {
                    color: $colorPrimary
                }
            }
            .address-form-placeholder {
                .ship-more-info {
                    display: inline-block;
                }
                input.postal-code {
                    max-width: calc(100% - 110px);
                }
                fieldset {
                    button {
                        text-transform: capitalize;
                        font-size: 14px;
                    }
                }
            }
            #billing-address{
                display: none;
                #address-toggle-0{
                    &, + label{
                        display: inline-block;
                        vertical-align: middle;
                    }
                    + label{
                        width: calc(100% - 30px);
                        margin-left: 5px;
                        font-weight: $bold;
                    }
                    ~ div{
                        @extend %transition;
                        max-height: 500px;
                        overflow: visible;
                    }
                    &:checked{
                        ~ div{
                            max-height: 0;
                            overflow: hidden;
                        }
                    }
                }
                .content{
                    h4{
                        @include text-default(14px);
                        font-weight: $regular;
                        margin-bottom: 15px;
                    }
                }
            }
            .address-shipping-options {
                h4 {
                    margin-bottom: 20px;
                    span {
                        
                        &:not(.products-from-seller-container, .products-from-seller){
                            float: none;
                            @include text-default(14px);
                            font-weight: $regular;
                            margin-bottom: 15px;
                        }
                        &.products-from-seller-container{
                            width: 44%;
                            color: $colorPrimary;
                        }
                    }
                }
                .shipping-option-item {
                    display: block !important;
                    padding: 0;
                    border: 0;
                    background: transparent;
                    margin-bottom: 10px;
                    height: 20px;
                    line-height: 20px;
                    padding-left: 25px;
                    font-style: normal;
                    i {
                        position: absolute;
                        top: 3px;
                        left: 0;
                        font-size: 18px;
                    }
                }
            }
            .submit {
                &,
                button {
                    margin-top: 0;
                }
                .btn-go-to-payment{
                    display: none;
                }
            }
            #change-other-shipping-option{
                @include btn-default(#6F6F6F, #fff, $width: 100%, $height: 35px);
                margin: 10px 0 0;
                border: 0;
                box-sizing: border-box;
                border-radius: 0;

                @include media-queries('phone-wide', max){
                    height: 50px;
                    line-height: 25px;
                }
            }

        }
        #payment-data {
            .steps-view {
                background: #fff;
                border-radius: 4px;
            }
            .payment-group {
                background: transparent;
                a {
                    font-size: 13px;
                    color: $colorPrimary;
                    line-height: 20px;
                }
                .payment-group-list-btn {
                    width: auto !important;
                }
                .payment-group-item {
                    border-radius: 4px;
                    margin: 10px 10px 0 0;
                    box-sizing: border-box;
                    position: relative;
                    background: #fff;
                    opacity: 1;
                    &:after {
                        @extend %transition;
                        content: "";
                        position: absolute;
                        right: -25px;
                        border: 15px solid transparent;
                        top: 50%;
                        margin-top: -15px;

                    }
                    &:hover, &.active{
                        background: $colorSecondary;
                        color: #fff;
                        &:after {
                            border-left-color: $colorSecondary;
                        }
                    }
                }
            }
        }
    }
    .mini-cart {
        h2 {
            text-align: left;
            @include title-default(17px, $color: $color3, $mb: 10px);
            background: transparent;
        }
        .summary-cart-template-holder {
            ul {
                li {
                    padding: 13px 0;
                    margin: 0;
                    border: 0;
                    .product-name {
                        font-size: 12px;
                        color: $colorPrimary;
                    }
                    .quantity.badge {
                        @include size(15px);
                        left: 35px;
                        padding: 0;
                        border: 0;
                        line-height: 15px;
                        background: $colorSecondary;
                        font-size: 10px;
                        color: #FFFFFF;
                        text-align: center;
                        box-shadow: none;
                    }
                    .shipping-date {
                        @include text-default(11px);
                    }
                    .price {
                        font-size: 14px;
                        line-height: 23px;
                        color: $colorSecondary;
                        letter-spacing: 0;
                        font-weight: $bold;
                        margin: 0;
                    }
                }
            }
        }
        #go-to-cart-button {
            margin-bottom: 30px;
            float: none;
            a {
                @include btn-default(#F1F1F1, $colorPrimary, 11px, 100%, 35px);
                text-transform: uppercase;
                display: block;
                box-sizing: border-box;
            }
        }
        .summary-template-holder {
            border: 0;
            background: transparent;
            padding: 0;
            
            table{
                td{
                    padding: 10px 8px;
                }
            }
        }
        .payment-confirmation-wrap{
            padding: 0;
            background: transparent;
            #payment-data-submit{
                padding: 0;
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                text-align: center;
                height: 50px;
                line-height: 50px;
                width: 100%;
                
                i{
                    font-style: normal;
                    margin-right: 5px;
                }
            }
        }
    }
}

// Iframe
#app-container{
    label{
        margin-bottom: 5px;
    }
    input{
        height: 20px;
        letter-spacing: 0;
        &#address-toggle-0{
            margin-top: 0;
        }
    }
    .SecurityEnvironmentIcon{
        background: #4CAF50;
        color: #fff;
    }
    .CardForm{
        > * {
            margin: 5px 0;
        }
        .PaymentCardCVV{
            position: relative;
            label{
                width: 210px;
            }
            .PaymentCardCVVHelp {
                top: -45px;
                right: 0;
                margin: 0;
                height: auto;
                padding: 75px 5px 0;
                .cvv-help-message{
                    background: #1472ba;
                    padding-bottom: 5px;
                    display: block;
                }
            }
        }
        .PaymentCardDueDate{
            .FormFieldLabel{
                margin-right: 10px;
                @include media-queries('phone-wide', max){
                    float: none !important;
                }
            }
        }
        .PaymentCardHolderName{
            margin-bottom: 5px;
        }
    }
    .ChangeNumberOfPayments{
        display: none;
        a{
            background-color: #F2F2F2 !important;
            color: $colorPrimary;
            font-size: 15px;
            line-height: 35px;
            width: 100%;
            height: 40px;
            font-weight: 600;
            padding: 0;
            margin-top: 5px;
            display: block;
            text-align: center;
            &:hover{
                background-color: #e5e5e5 !important;
            }
        }
    }
    
}

