﻿form.client-pre-email{
    border: 0;
    .link-cart{
        a{
            @include text-default(14px);
            position: absolute;
            top: 0;
            right: 0;
            &::before{
                content: '\F100';
                display: inline-block;
                font-family: FontAwesome;
                vertical-align: baseline;
                margin-right: 10px;
                font-style: normal;
            }
            &:hover{
                color: $colorSecondary;
            }
        }
    }
    .pre-email{
        h3{
            text-align: center;
            margin-bottom: 30px;
            label{
               margin-top: 15%;
            }
            span{
                @include title-default(20px, $mb: 10px);
                font-weight: $regular;
                display: block;
            }
            small{
                font-size: 16px;
                color: $colorSecondary;
                text-align: center;
            }
        }
        .client-email{
            text-align: center;
            span.error{
                display: block;
            }
            input{
                width: 100%;
                height: 50px;
                padding: 0 100px 0 15px;
                background: #FFFFFF;
                border: 1px solid #EDEDED;
                font-size: 14px;
                color: $color3; 
            }
            #btn-client-pre-email{
                padding: 0 15px;
                height: 50px;
                line-height: 50px;
                background: $colorPrimary;
                &:hover {
                    background-color: darken($colorPrimary, 5%);
                }
            }
        }
        @include media-queries('tablet'){
            h3{
                label{
                    margin-top: 5%;
                }
            }
        }
        @include media-queries('phone-wide'){
            #btn-client-pre-email{
                position: absolute;
                top: 0;
                right: 0; 
            }
        }
    }
    .emailInfo{
        margin-top: 30px;
        background: transparent;
        
        border: 0;

        h3{
            font-size: 18px;
            color: $colorPrimary;
            text-align: center;
            margin-bottom: 30px;
        }
        ul{
            margin: -7px 0;
            li{
                padding: 7px 0;
                .icon-ok{
                    font-size: 15px;
                    color: $colorSecondary;
                }
                span{
                    font-size: 15px;
                    color: $colorPrimary;
                }
                &:nth-child(4) > span{
                    font-size: 15px;
                }
            }
        }
        .icon-lock{
            display: none;
        }
        @include media-queries('tablet'){
            width: 50%;
            ul{
                padding-left: 40px;
            }
            
        }
    }
}