﻿#footer-checkout {
    margin-top: 50px;
    #footer-institucional{
        padding: 25px 0;
        background: #F2F2F2;
        .title-footer{
            font-weight: $medium;
            font-size: 18px;
            color: $color3;
            letter-spacing: 0;
            margin-bottom: 20px;
        }
        #footer-payments {
            ul {
                margin-right: -6px;
                margin-left: -6px;
                li {
                    margin: 0 6px;
                    vertical-align: middle;
                }
            }
        }
    }

    #footer-copyright {
        padding: 15px 0;
        h5 {
            font-weight: $bold;
            font-size: 14px;
            color: #9F9F9F;
            letter-spacing: 0;
            margin-bottom: 23px;
        }
        p {
            font-size: 12px;
            line-height: 15px;
            color: #ACB0B3;
            letter-spacing: 0;
        }
        ul {
            margin: 0 -10px;
            li {
                margin: 0 10px;
                vertical-align: middle;
            }
        }
    }
    @include media-queries('phone-wide', max){
        .col-payments{
            margin-bottom: 20px;
        }
        #footer-copyright{
            text-align: center;
            p{
                margin-bottom: 15px;
            }
        }

    }
}