﻿#header-checkout{
    padding: 7px 0 14px;
    border-bottom: 1px solid $colorBorder;
    margin-bottom: 35px;
    background: $colorPrimary;

    .col-logo{
        text-align: center;
    }
    .col-contact{
        ul{
            li{
                padding: 0 25px;
                .icon, .text{
                    display: inline-block;
                    vertical-align: top;
                }
                .icon{
                    @include size(40px);
                    border: 2px solid #fff;
                    border-radius: 100%;
                    text-align: center;
                    line-height: 40px;
                    margin-right: 10px;
                    i{
                        color: #fff;
                        font-size: 20px;
                    }
                }
                .text{
                    @include text-default(14px);
                    color: #fff;
                    a{
                        display: block;
                        font-weight: $semiBold;
                        font-size: 16px;
                        color: #fff;
                        letter-spacing: 0;
                        margin-top: 1px;
                    }
                }
                
            }
            @include media-queries('desktop'){
                margin: 0 -25px;
            }
        }
        
    }

    @include media-queries('tablet'){
        .content{
            display: -ms-flexbox !important;
            display: flex !important;
        }
    }

}