﻿ul {
    &.list-unstyled {
        @extend %reset-ul;
    }
    &.list-inline {
        @extend %reset-ul;
        li {
            display: inline-block;
        }
    }
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.justify-content-between {
    @extend %justify-content-between;
}

.align-items-center {
    @extend %align-items-center;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-none{
    display: none !important;
}

@media (min-width: 992px) {
    .d-lg-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media (min-width: 768px) {
    .d-md-flex {
        display: -ms-flexbox !important;
        display: flex!important;
    }
}

@media (min-width: 576px) {
    .d-sm-flex {
        display: -ms-flexbox !important;
        display: flex!important;
    }
}

@include media-queries('phone-wide', max) {
    .hidden-xs {
        display: none !important;
    }
    body .container {
        padding: 0 15px !important;
    }
}

@include media-queries('tablet', max) {
    .hidden-sm {
        display: none !important;
    }
}