@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// MAIN
@import '../../Files Manager/css/sass/main/_variables.scss';
@import '../../Files Manager/css/sass/main/_mixin.scss';
@import '../../Files Manager/css/sass/main/_functions.scss';
@import '../../Files Manager/css/sass/main/_placeholders.scss';

// RESETS 
@import '../../Files Manager/css/sass/main/_resets.scss';
@import '../../Files Manager/css/sass/main/_classes.scss';
@import '_mergeBootstrap.scss';

// COMPONENTS
@import '_header.scss';
@import '_footer.scss';
@import '_cart.scss';
@import '_email.scss';
@import '_checkout.scss';

.body-cart {
    padding-bottom: 0;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border-radius: 0 !important;
    font-size: 13px;
    color: #3F84B6;
    &:focus {
        box-shadow: none !important;
        border: 1px solid #3F84B6 !important;
    }
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #E5E5E5;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    border-radius: 0;
    background: bg('icon-arrows.png', calc(100% - 10px) center, no-repeat, $color: #fff);
    margin: 0;
}

.btn {
    @extend %reset-btn;
    box-sizing: border-box;
    
    &.btn-success {
        @include btn-default($colorSuccess);
    }
    @include media-queries('tablet') {
        font-size: 20px;
    }
}

#orderform-title,
#orderform-sac-title,
#cart-title {
    @include title-default(24px,
    $mb: 30px);
    text-align: center;
    @include media-queries('phone-wide') {
        text-align: left;
    }
}

.field-help {
    background-color: $color3;
    box-shadow: none;
    border: 0;
}

body {
    background: #fff;
    #footer-showcase {
        display: none;
    }
    &.body-cart {
        #footer-showcase {
            display: block;
        }
    }
}

.slick-slider {
    position: relative;
    padding: 0 10px;
    .slick-track {
        line-height: 1;
    }
    .slick-arrow {
        @include size(50px);
        @include center-absolute(true);
        line-height: 50px;
        font-size: 35px;
        color: #6F6F6F;
        letter-spacing: 0;
        z-index: 1;
        opacity: 0.6;
        background: transparent;
        &.slick-prev {
            left: 0;
        }
        &.slick-next {
            right: 0;
        }
        &:hover {
            opacity: 1;
        }
        @media (min-width: 1320px) {
            &.slick-prev {
                left: -50px;
            }
            &.slick-next {
                right: -50px;
            }
        }
    }
}

/** modals **/

.payment-confirmation-modal {
    .payment-confirmation-loading,
    .payment-confirmation-thanks,
    .payment-confirmation-message {
        color: #fff;
    }
}