#set($id 				= $product.Id)
#set($uri 				= $product.Uri)
#set($escapedName 		= $product.HtmlEscapedName)
#set($evaluationRate 	= $product.EvaluationRate)

#set($textAddToCart 	= 'Adicionar ao Carrinho')
#set($addToCartInImage 	= true)
#set($shortDescription 	= false)
#set($departmentLink 	= false)
#set($categoryLink 		= false)
#set($brandLink 		= false)

#if ($product.IsInStock)
<div class="ad-showcase-product" data-id="$id">
#else
<div class="ad-showcase-product out-of-stock" data-id="$id">
#end

    #if($product.ListPriceMinusBestPriceInPercent > 0)
    <span class="black-friday-discount percent">
        <span>$product.ListPriceMinusBestPriceInPercent</span>
        <span>OFF</span>
    </span>
    #end
	<div class="product-flags">
        $product.HightLight
		<div class="discount">
			$product.DiscountHightLight
		</div>
		#if($product.ListPriceMinusBestPriceInPercent > 0)
			<div class="percent flag d-none">
				<i class="fas fa-arrow-down"></i>
				<span>$product.ListPriceMinusBestPriceInPercent</span>
            </div>
		#end
    </div>

	<div class="product-image">
		<a title="$escapedName" href="$uri">
			<!-- 
				ImagemProdutoVitrinePequena (Tamanho: 65×65) 	= 1;
				ImagemProdutoVitrineMedia 	(Tamanho: 90×90) 	= 29;
				ImagemProdutoVitrineGrande 	(Tamanho: 130×130) 	= 30;
				ImagemProdutoPrincipal 		(Tamanho: 250×250) 	= 2;
				ImagemProdutoThumb 			(Tamanho: 45×45) 	= 3;
				ImagemProdutoZoom 			(Tamanho: 344×344)	= 10;
			-->
			$product.GetImageTag(30)
		</a>
		#if ($addToCartInImage)
			<div class="product-buy">
				$product.BottomBuy
			</div>
		#end
	</div>
	
	<div class="product-name">
		<a title="$escapedName" href="$uri">$product.Name</a>
	</div>
	
	#if ($departmentLink)
	<div class="product-department">$product.DepartmentLink</div>
	#end
	#if ($categoryLink)
	<div class="product-category">$product.CategoryLink</div>
	#end
	#if ($brandLink)
	<div class="product-brand">$product.BrandLink</div>
	#end
	#if ($shortDescription)
	<div class="product-short-description"><a title="$escapedName" href="$uri">$product.DescriptionShort</a></div>
	#end
	
	<!--<span class="product-rating avaliacao${evaluationRate}"></span>-->
	
	<!-- Trustvox -->
    <div class="trustvox-showcase" style="text-align: center">
      <div data-trustvox-product-code="$product.Id"></div>
    </div>
    <!-- /Trustvox -->

	<!--
		Mostra o valor de um Campo Produto passando como parâmetro o ID deste campo.
		$product.ProductField(IdField)
	-->

	#if ($product.IsInStock)
		<div class="product-price">
    		<a title="$escapedName" href="$uri">
				<span class="old-price">
					#if ($product.HasBestPrice)
						$product.ListPrice
					#end
				</span>
				<span class="best-price">$product.BestPrice</span>
				
				#if ($product.NumbersOfInstallment > 1)
					<span class="installment">
						<strong>${product.NumbersOfInstallment}x</strong> de <strong>$product.InstallmentValue</strong> sem juros
					</span>
				#else
					#if ($product.MaxNumbersOfInstallment > 1)
						<span class="installment installment-max">
							<strong>${product.MaxNumbersOfInstallment}x</strong> de <strong>$product.MaxInstallmentValue</strong> com juros
						</span>
					#end
				#end
			</a>
		</div>
	#else
		<p class="msg-out-of-stock">Sem estoque</p> 
	#end
</div>