﻿.benefits-banner{
    margin: 15px 0 8px;
    ul{
        margin: 0 -15px;
        li{
            padding: 0 15px;
            margin: 0 !important;
            text-align: center;
            .icon, .text{
                display: inline-block;
                vertical-align: middle;
            }
            .icon{
                margin-right: 7px;
            }
            .text{
                font-size: 14px;
                color: #5A5E67;
                letter-spacing: -0.06px;
                line-height: 16px;
                strong{
                    font-weight: $bold;
                    font-size: 16px;
                    letter-spacing: -0.07px;
                    display: block;
                    line-height: 19px;
                }
            }
        }
        @include media-queries('desktop'){
            margin: 0 -40px;
            li{
                text-align: left;
                padding: 0 40px;
            }
            .slick-slide{
                &:not(:last-child){
                    border-right: 1px solid $colorBorder;
                }
            }
        }
    }
}