﻿section.bread-crumb{
    display: none;
    padding: 15px 0;
    ul{
        margin: 0 -10px;
        li{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding: 0 10px;
            &:not(.last){
                &, a{
                    color: #000;
                    font-size: 12px;
                    letter-spacing: 0;
                    line-height: 14px;
                    text-transform: capitalize;
                }
                a:hover{
                    color: #0062A9;
                }
                &::after{
                    @include center-absolute($vertical: true, $height: 14px);
                    content: '/';
                    font-size: 12px;
                    color: #AAAAAA;
                    letter-spacing: 0;
                    right: -4px;
                }
            }
            &.last{
                &, a{
                    font-size: 12px;
                    color: #0062A9;
                }
                a:hover{
                    color: #000;
                }
            }
        }
    }
    @include media-queries('phone'){
        display: block;
    }
}