﻿// BUY TOGETHER
#divCompreJunto {
    hr {
        margin: 50px 0;
    }
    h4 {
        @include title-default(18px, $colorSecondary, $mb: 30px);
    }
    table {
        td {
            vertical-align: middle;
        }
        .itemA,
        .itemB {
            a {
                display: block;
                img {
                    max-width: 100%;
                    height: auto;
                }
                &:hover {
                    img {
                        opacity: .7;
                    }
                }
            }
            h3 {
                margin: 20px 0 0;
                a {
                    @include title-default(15px, $mb: 0);
                    letter-spacing: -0.19px;
                    text-align: left;
                    &:hover {
                        color: $colorSecondary;
                    }
                }
            }
            @media (min-width: 992px) {
                max-width: 305px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                max-width: 230px;
            }
        }
        .plus,
        .equal {
            font-size: 30px;
            color: #6F6F6F;
            letter-spacing: 0;
            padding: 0 30px;
            font-weight: $bold;
            @media (min-width: 992px) {
                padding: 0 25px;
            }
        }
        .buy {
            span {
                display: block;
                &.buy-together-installment,
                &.buy-together-total {
                    font-weight: $bold;
                }
                &.buy-together-installment {
                    @include text-default(14px);
                }
                &.buy-together-total {
                    font-size: 20px;
                    color: $colorSecondary;
                    letter-spacing: 0;
                }
                &.buy-together-save {
                    margin-top: 35px;
                    @include text-default(14px);
                    strong {
                        font-weight: $bold;
                        color: $colorSecondary;
                    }
                }
            }
            .more {
                display: none;
            }
            .comprar-junto {
                margin: 0;
                a {
                    @include btn-default($fz: 20px, $width: 100%, $height: 60px);
                    display: block;
                    margin: 30px 0 0;
                    font-weight: $semiBold;
                    letter-spacing: -0.22px;
                }
            }
            @include media-queries('tablet') {
                width: 270px;
            }
        }
    }
    hr.buy-together {
        margin-bottom: 45px;
    }
    @include media-queries('phone-wide', max) {
        .itemA,
        .itemB,
        .plus,
        .equal,
        .buy {
            display: block;
            text-align: center;
            padding: 0;
        }
        .plus,
        .equal,
        .buy {
            margin: 20px 0;
        }
        hr.buy-together {
            margin: 30px 0;
        }
        table {
            width: 100%;
            .itemA,
            .itemB {
                h3 {
                    a {
                        text-align: center;
                    }
                }
            }
            .buy{
                margin-bottom: 0;
            }
        }
    }
}