﻿/** SLICK **/

.slick-slider {
    position: relative;
    .slick-track {
        line-height: 1;
    }
    .slick-arrow {
        @include size(40px, 60px);
        @include center-absolute(true);
        line-height: 50px;
        font-size: 20px;
        background: #E1E1E1;
        color: $colorWhite;
        letter-spacing: 0;
        z-index: 1;
        border: 0;
        &.slick-prev {
            left: 0;
            border-radius: 0 3px 3px 0;
        }
        &.slick-next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        &:hover {
            background: $colorPrimary;
        }
    }
    .slick-dots {
        text-align: center;
        margin: 20px 0 0;
        li {
            display: inline-block;
            vertical-align: middle;
            padding: 0 3px;
            width: auto;
            button {
                @extend %reset-btn;
                @include size(8px);
                display: block;
                background: #E1E1E1;
                border-radius: 100%;
                font-size: 0;
            }
            &.slick-active {
                button {
                    background: #5597C6;
                }
            }
        }
    }
    &.slick-vertical {
        padding: 20px 0 !important;
        text-align: center;
        .slick-slide {
            a {
                margin: auto;
            }
        }
        .slick-arrow {
            @include size(20px);
            left: 50%;
            transform: translateX(-50%);
            background: transparent;
            color: $color3;
            line-height: 20px;
            &.slick-prev {
                top: 0;
                i:before {
                    content: '\f077';
                }
            }
            &.slick-next {
                bottom: 0;
                top: initial;
                i:before {
                    content: '\f078';
                }
            }
            &:hover {
                color: $colorPrimary;
            }
        }
    }
}