﻿// MY CART
#admake-cart-sidebar {
    @include modals;

    .cart-header {
        padding: 15px;
        position: relative;
        background: #fff;
        text-transform: capitalize;
        strong {
            @include title-default(20px, $mb: 0);
            line-height: 30px;
        }
        .cart-btn-close {
            right: 15px;
            position: absolute;
            i{
                @include btn-close(30px, $color3);
                @include size(30px);
                display: block;
            }            
        }
    }
    .cart-body {
        padding: 10px 15px;
        overflow-y: auto;
        .cart-loader{
            text-align: center;
            font-size: 30px;
        }
        .cart-items{
            margin: -10px 0;
            > button{
                margin-top: 10px;
                cursor: pointer;
                display: block;
                width: 100%;
                height: 50px;
                border-radius: 0;
                border: 1px solid $colorBorder;
                background: #f1f1f1;
                &:hover {
                    background: darken(#f1f1f1, 5%);
                }
            }
            .item{
                padding: 10px 0;
                .item-image{
                    max-width: 55px;
                }
                .item-details{
                    width: calc(100% - 70px);
                    padding: 0 15px;
                    .item-name{
                        margin-bottom: 5px;
                        a{
                            color: $color3;
                            font-weight: $bold;
                            font-size: 13px;
                        }
                    }
                    .item-qty, .item-listprice, .item-bestprice, .item-freeprice{
                        vertical-align: middle;
                        font-size: 13px;
                        letter-spacing: 0;
                    }
                    .item-qty, .item-bestprice{
                        font-weight: $semiBold;
                    }
                    .item-qty, .item-listprice{
                        margin-right: 3px;
                    }
                    .item-qty{
                        color: #7C848B;
                    }
                    .item-listprice{
                        text-decoration: line-through;
                        vertical-align: middle;
                        color: $colorPrimary;
                    }
                    .item-bestprice{
                        color: $colorSecondary;
                    }
                    .item-freeprice{
                        font-size: 11px;
                        margin-left: 5px;
                        color: $color3;
                    }
                }
                .item-remove{
                    color: $colorDanger;
                    &:hover{
                        color: darken($colorDanger, 10%);
                    }
                }
            }
            
        }
    }
    .cart-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: #fff;
        .cart-alerts {
            padding: 0 15px;
            margin: 10px 0;
            li {
                padding: 5px 0;
                font-size: 13px;
                color: $colorPrimary;
                line-height: 20px;
            }
        }
        .cart-values {
            >div {
                display: block;
                padding: 15px;
                border-top: 1px solid #E3E7EB;
                span {
                    font-size: 16px;
                    color: $color3;
                    letter-spacing: 0;
                    line-height: 20px;
                }
                strong {
                    @include title-default(16px, $colorSecondary, 0);
                }
            }
        }
        .cart-actions {
            .cart-btn-buy{
                @include title-default(18px, #fff, 0);
                display: block;
                background: $colorSuccess;
                padding: 15px 0;
                letter-spacing: 0;
                text-align: center;

                &::after{
                    @include fontAwesome('\f30b', $display: inline-block, $color: #fff);
                    margin-left: 10px;
                }
                &:hover{
                    background: darken($colorSuccess, 5%)
                }
            }
        }
    }
}