﻿@import '_newsletter.scss';

#footer-new{
    background: #F4F4F4;
    .footer-nav{
        border-bottom: 1px solid #E1E1E1;
        ul{
            padding: 15px 0;
            margin: 0 -15px;
            li{
                padding: 5px 15px;
                @media( max-width: 767px ){
                    width: 100%;
                    padding: 10px 15px;
                    text-align: center;
                }
            }
            a{
                font-weight: 400;
                font-size: 15px;
                color: #3E4042;
                line-height: 20px;
                text-align: center;
                font-weight: 700;
                &:hover{
                    color: darken(#3E4042, 20%);
                }
            }
        }
    }
    .footer-flags{
        @media( min-width: 768px ){
            padding-top: 60px;
            padding-bottom: 60px;
        }
        h5{
            font-weight: 400;
            font-size: 15px;
            color: #3E4042;
            line-height: 20px;
            text-align: center;
            margin: 0 0 15px;
        }
        .box{
            text-align: center;
            img{
                margin: auto;
            }
        }
        > div > div[class*="col"]{
            @media( max-width: 767px ){
                padding: 15px 0;
                width: 100%;
                text-align: center;
            }
        }
        .col-security{
            li{
                vertical-align: middle;
            }
        }
        .col-social-links{
            li{
                padding: 4px;
                @media( min-width: 768px ){
                    display: block!important;
                    padding: 4px 0;
                }
                a{
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    text-align: center;
                    line-height: 40px;
                    padding: 0;
                    display: block;
                    color: #fff;
                    font-size: 20px;
                    &:hover{
                        transform: scale(1.03);
                    }
                }
                &.facebook{
                    a{
                        background: #3B5998;
                    }
                }
                &.instagram{
                    a{
                        background: #EF2B86;
                    }
                }
                &.youtube{
                    a{
                        background: #D75345;
                    }
                }
            }
        }
    }
}
#footer-copyright{
    background: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    h5{
        font-weight: 700;
        font-size: 14px;
        color: #043B63;
        line-height: 20px;
        margin: 0 0 10px;
    }
    p{
        font-weight: 400;
        font-size: 10px;
        color: #ACB0B3;
        line-height: 14px;
    }
    .signature{
        @media( max-width: 991px ){
            margin-top: 15px;
        }
        ul{
            margin: 0 -5px;
            li{
                padding: 5px;
                vertical-align: middle;
            }
        }
    }
}

// @include media-queries('phone', max) {
//     .accordion-content {
//         .accordion-btn {
//             cursor: pointer;
//             position: relative;
//             margin-bottom: 0;
//             &::after {
//                 @include fontAwesome('\F078', $size: 12px, $color: #0062A9);
//                 @include center-absolute($vertical: true, $height: 16px);
//                 right: 15px;
//                 transform: rotate(0deg);
//                 transition: all .2s;
//             }
//         }
//         >p,
//         >img,
//         >ul,
//         >div {
//             transition: 300ms all;
//             max-height: 0;
//             overflow: hidden;
//         }
//         &.active {
//             .accordion-btn {
//                 &::after {
//                     transform: rotate(-180deg);
//                 }
//             }
//             >p,
//             >img,
//             >ul,
//             >div {
//                 margin-top: 10px;
//                 max-height: 300px;
//                 overflow: auto;
//             }
//         }
//     }
// }

// footer {
//     margin-top: 35px;
//     .footer-institucional-payments {
//         padding: 25px 0;
//         background: #F4F4F4;
//         h5 {
//             font-weight: $medium;
//             font-size: 18px;
//             color: $color3;
//             letter-spacing: 0;
//             margin-bottom: 20px;
//             i {
//                 font-size: 22px;
//                 color: $colorPrimary;
//                 letter-spacing: 0;
//                 margin-right: 5px;
//                 vertical-align: text-bottom;
//                 display: none;
//             }
//         }
//         img {
//             max-width: 100%;
//             height: auto;
//         }
//         #footer-institucional {
//             ul:not(.list-inline) {
//                 a {
//                     @extend .hvr-underline-from-left;
//                     font-size: 14px;
//                     color: $color3;
//                     letter-spacing: 0;
//                     line-height: 36px;
//                     &:hover {
//                         color: $colorPrimary;
//                     }
//                 }
//             }
//             hr {
//                 margin: 50px 0;
//             }
//             .col-social-networks,
//             .col-contact {
//                 ul {
//                     margin-right: -7px;
//                     margin-left: -7px;
//                     li {
//                         margin: 0 7px;
//                         a {
//                             @extend %br-radius-100;
//                             @include size(40px);
//                             display: inline-block;
//                             text-align: center;
//                             line-height: 38px;
//                             font-size: 18px;
//                             color: #FFFFFF;
//                             letter-spacing: 0;
//                             border: 1px solid transparent;
//                             @include media-queries('phone') {
//                                 height: 60px;
//                                 width: 60px;
//                                 font-size: 28px;
//                                 line-height: 58px;
//                             }
//                         }
//                         &.facebook {
//                             a {
//                                 background: #3B5998;
//                                 &:hover {
//                                     border-color: #3B5998;
//                                     color: #3B5998;
//                                     background: transparent;
//                                 }
//                             }
//                         }
//                         &.instagram {
//                             a {
//                                 background: #EF2B86;
//                                 &:hover {
//                                     border-color: #EF2B86;
//                                     color: #EF2B86;
//                                     background: transparent;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//             .col-contact {
//                 p {
//                     font-size: 14px;
//                     color: $color3;
//                     letter-spacing: 0;
//                     line-height: 36px;
//                     strong{
//                         font-size: 18px;
//                         color: $colorPrimary;
//                         font-weight: 500;
//                     }
//                 }
//                 >div {
//                     margin-top: 40px;
//                     h5 {
//                         margin-bottom: 18px;
//                     }
//                 }
//             }
//         }
//         #footer-payments {
//             .col-security{
//                 margin-top: 45px;
//             }
//             ul {
//                 margin-right: -6px;
//                 margin-left: -6px;
//                 li {
//                     margin: 0 6px;
//                     vertical-align: middle;
//                 }
//             }
//             @include media-queries('tablet') {
//                 .col-shipping,
//                 .col-payments {
//                     img {
//                         margin-top: 20px;
//                     }
//                 }
//             }
//         }
//         @media (min-width: 576px) and (max-width: 767px) {
//             #footer-institucional,
//             #footer-payments {
//                 margin-top: -15px;
//                 margin-bottom: -15px;
//                 >div {
//                     padding-top: 15px;
//                     padding-bottom: 15px;
//                 }
//             }
//         }
//         @include media-queries('phone-wide') {
//             padding: 50px 0;
//             img {
//                 max-width: 400px;
//             }
//         }
//     }
//     #footer-copyright {
//         padding: 15px 0;
//         text-align: center;
//         h5 {
//             font-weight: $bold;
//             font-size: 14px;
//             color: #9F9F9F;
//             letter-spacing: 0;
//             margin-bottom: 23px;
//         }
//         p {
//             font-size: 10px;
//             line-height: 15px;
//             color: #ACB0B3;
//             letter-spacing: 0;
//             margin-bottom: 15px;
//         }
//         ul {
//             margin: 0 -10px;
//             li {
//                 margin: 0 10px;
//                 vertical-align: middle;
//             }
//         }
//     }
//     @include media-queries('phone-wide') {
//         margin-top: 65px;
//         #footer-copyright {
//             padding: 24px 0 35px;
//             text-align: left;
//             p {
//                 margin-bottom: 0;
//             }
//         }
//     }
//     @include media-queries('phone', max) {
//         .footer-institucional-payments {
//             padding: 0;
//             .accordion-content {
//                 padding-top: 20px;
//                 padding-bottom: 20px;
//                 border-bottom: 1px solid $colorBorder;
//             }
//         }
//     }
// }