input[type="text"],
input[type="email"],
input[type="phone"],
input[type="tel"],
input[type="password"],
input[type="textarea"]{
    font-size: 16px;
    color: #AAAAAA;
    letter-spacing: -0.2px;
    background: #FFFFFF;
    border: 1px solid $colorBorder;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    border-radius: 0;
    box-shadow: none !important;
    &:focus{
        border-color: $colorSecondary;
    }
}

@include input-placeholder{
    color: #AAAAAA;
}

label{
    margin-bottom: .5rem;
    display: block;
    font-size: 12px;
    color: #AAAAAA;
    letter-spacing: 0.2px;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    border-radius: 0;
    background: bg('icon-arrows.png', calc(100% - 10px) center, no-repeat);
    margin: 0;
}


// button,
// input[type="submit"],
// input[type="button"]{
//     background: $colorSecond;
//     border-radius: 2px;
//     font-size: 12px;
//     color: $colorWhite;
//     letter-spacing: 0;
//     text-align: center;
//     height: 40px;
//     padding: 5px;
//     line-break: 12px;
//     border: 0 none;
//     cursor: pointer;
//     @extend %transition;
//     &:hover{
//         background: darken( $colorSecond, 15% );
//     }
// }