#header {
    #header-info {
        background: #F6F6F6;
        padding: 6px 0;
        display: none!important;
        .col-social-networks {
            ul {
                margin: 0 -3px;
                li {
                    margin: 0 3px;
                    a {
                        @extend %br-radius-100;
                        @include size(21px);
                        font-size: 13px;
                        display: inline-block;
                        background: $colorPrimary;
                        text-align: center;
                        line-height: 21px;
                        color: #fff;
                        &:hover {
                            color: $colorPrimary;
                            background: #fff;
                        }
                    }
                }
            }
        }
        .col-login,
        .col-contact {
            a {
                font-size: 14px;
                letter-spacing: -0.17px;
            }
        }
        .col-login {
            p{
                font-size: 14px;
                color: $colorSecondary;
                letter-spacing: -0.17px;
            }
            a{
                color: $colorPrimary;
                b{
                    cursor: pointer;
                }
                &.account{
                    margin-left: 5px;
                }
            }
        }
        .col-contact {
            color: $colorSecondary;
            a {
                &::after {
                    @include size(4px);
                    @extend %br-radius-100;
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 15px;
                    background: #C7C7C7;
                }
            }
        }
    }
    #header-bar {
        padding: 10px 0;
        background: $color5;
        #header-bar-menu {
            button {
                font-size: 24px;
                color: #fff;
            }
        }
        #header-brand {
            .brand {
                max-width: 150px;
                img {
                    max-width: 100%;
                    height: auto;
                }
                @include media-queries('phone-wide') {
                    max-width: 100%;
                }
            }
        }
        #header-links {
            a {
                display: inline-block;
            }
            .col-header-login {
                a {
                    display: block;
                    img{
                        position: static;
                        display: block;
                        margin: 0 auto 5px;
                        @include size(29px, 32px);
                    }
                    span{
                        display: block;
                        font-size: 10px;
                        line-height: 11px;
                        color: #fff;
                    }
                }
            }
            .bar {
                @include size(1px, 47px);
                margin: 0 25px;
                background: #fff;
            }
            .col-header-cart {
                a {
                    @include size(39px, 36px);
                    position: relative;
                    .badge {
                        @extend %br-radius-100;
                        @include size(29px);
                        position: absolute;
                        top: -10px;
                        right: -14px;
                        padding: 0;
                        text-align: center;
                        line-height: 29px;
                        background: #949494;
                        font-weight: $bold;
                        font-size: 14px;
                        color: #FFFFFF;
                        letter-spacing: -0.17px;
                    }
                }
            }
        }
    }
    #header-search {
        input.fulltext-search-box  {
            border: 0;
        }
        @include media-queries('phone-wide', max) {
            -webkit-box-ordinal-group: 1;
            -ms-flex-order: 1;
            order: 1;
            margin-top: 10px;
        }
    }
}