﻿#header-navbar {
    background: #F6F6F6;
    height: 60px;
    line-height: 60px;
    #header-menu {
        position: relative;
        >button {
            @include size(255px, 60px);
            position: relative;
            padding: 0 25px;
            background: #FBFBFB;
            font-weight: $medium;
            font-size: 16px;
            color: $colorPrimary;
            letter-spacing: 0;
            text-align: left;
            display: block;
            i {
                &.fa-bars{
                    font-size: 16px;
                    margin-right: 5px;
                    display: inline-block;
                    vertical-align: middle;
                }
                &.fa-chevron-down{
                    @extend %transition;
                    float: right;
                    margin-top: 3px;
                    font-size: 12px;
                }
            }
        }
        .nav-items {
            transition: 300ms max-height;
            position: absolute;
            top: calc(100% - 1px);
            right: 0;
            left: 0;
            overflow: hidden;
            max-height: 0;
            background: $color6;
            z-index: 9;
            >li {
                padding: 0 25px;
                .link-lvl-1 {
                    font-size: 14px;
                    color: #fff;
                    letter-spacing: 0;
                    line-height: 40px;
                    font-weight: $medium;
                    display: block;
                }
                .nav-sub {
                    border: 0;
                    position: absolute;
                    left: 100%;
                    top: -1px;
                    bottom: -1px;
                    display: none;
                    background: #FBFBFB;
                    min-width: 280px;;
                    ul.list{
                        // @include content-columns(2, 30px);
                        padding: 22px 15px;
                        border: 1px solid #DEE7EE;
                        height: 100%;
                        li {
                            a {
                                display: block;
                                font-weight: $medium;
                                font-size: 14px;
                                color: #AAAAAA;
                                letter-spacing: 0;
                                line-height: 30px;
                                &:hover {
                                    color: $colorPrimary
                                }
                            }
                        }
                    }
                    &.with-banner{
                        ul.list{
                            width: calc(100% - 285px);
                            border-right: 0;
                        }
                    }
                    &:not(.with-banner){
                        ul.list{
                            width: 100%;
                        }
                    }
                }
                &:first-child {
                    padding-top: 10px;
                }
                &:hover {
                    a {
                        color: darken(#fff, 10%);
                    }
                    .nav-sub {
                        &.with-banner{
                            display: -ms-flexbox;
                            display: flex;
                        }
                        &:not(.with-banner){
                            display: block;
                        }
                    }
                }
            }
        }
        &:hover {
            >button i {
                transform: rotate(180deg);
            }
            .nav-items {
                min-height: 420px;
                max-height: 600px;
                overflow: visible;
                border: 1px solid #DEE7EE;
            }
        }
        @include media-queries('tablet', max) {
            .nav-sub {
                display: none !important;
            }
        }
    }
    #header-menu-info {
        >ul {
            display: none;
            li {
                margin: 0;
                a {
                    font-weight: $medium;
                    font-size: 16px;
                    letter-spacing: 0.38px;
                    >img{
                        display: inline-block;
                        vertical-align: middle;
                        margin: -4px 4px 0 0;
                    }
                }
                &:not(:last-child) {
                    position: relative;
                    &::after {
                        @include size(4px);
                        @extend %br-radius-100;
                        content: '';
                        display: inline-block;
                        margin: 0 10px;
                        background: #C7C7C7;
                        vertical-align: middle;
                    }
                }
            }
        }
        #header-offert-showcase {
            position: relative;
            margin-left: 30px;
            background: #e60014;
            width: 183px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            font-weight: $medium;
            letter-spacing: 0.38px;
            max-height: 60px;
            cursor: pointer;
            > img{
                display: inline-block;
                vertical-align: middle;
                margin: -3px 5px 0 0;
            }
            .content {
                @extend %transition;
                position: absolute;
                top: 100%;
                right: 0;
                width: 350px;
                z-index: 1;
                margin: 0;
                background: #fff;
                padding: 0;
                box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.4);
                max-height: 0;
                overflow: hidden;
                .timer {
                    padding: 0 30px;
                    ul {
                        li {
                            display: inline-block;
                            vertical-align: middle;
                            line-height: normal;
                            font-weight: $bold;
                            font-size: 22px;
                            color: $colorPrimary;
                            letter-spacing: 0.17px;
                            span {
                                display: inline-block;
                                padding: 6px;
                                border: 1px solid $colorPrimary;
                                min-width: 38px;
                                text-align: center;
                            }
                            small {
                                display: block;
                                margin-top: 4px;
                                font-weight: $medium;
                                text-transform: uppercase;
                                font-size: 10px;
                                color: #AAAAAA;
                                letter-spacing: 0.08px;
                            }
                            &.colon {
                                height: 45px;
                            }
                        }
                    }
                }
                .showcase {
                    padding: 0 30px;
                    margin: 0;
                    max-width: 100%;
                    h2 {
                        display: none;
                    }
                    .ad-showcase-product {
                        padding-bottom: 10px;
                    }
                    .slick-prev {
                        left: -15px;
                    }
                    .slick-next {
                        right: -15px;
                    }
                }
            }
            &:hover {
                .content {
                    padding: 10px 0;
                    max-height: 600px;
                    overflow: visible;
                }
                &::after {
                    @include center-absolute($horizontal: true, $width: 10px);
                    content: '';
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent #fff transparent;
                    bottom: 0;
                }
            }
        }
        @include media-queries('tablet') {
            >ul,
            #header-offert-showcase {
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}

#header-nav-mobile {
    @include modals($side: left, $mx: 420px);
    display: none;
    >.content {
        width: calc(100% - 55px);
        text-align: center;
        .nav-mobile-close {
            background: #E5E5E5;
            position: absolute;
            right: -55px;
            top: 0;
            i {
                @include size(55px, 53px);
                @include btn-close(30px, $colorPrimary);
                display: block;
            }
        }
        .title {
            height: 53px;
            line-height: 53px;
            background: #fff;
            color: $colorPrimary;
            display: block;
            font-size: 18px;
            font-weight: $medium;
        }
        .body {
            background: $colorPrimary;
            height: 100%;
            overflow-y: auto;
            a {
                font-size: 18px;
                display: block;
                color: #fff;
                font-weight: $medium;
            }
            .lvl-2 {
                position: fixed;
                left: -100%;
                top: 0;
                bottom: 0;
                max-width: 420px;
                width: calc(100% - 55px);
                transition: 300ms all;
                transition-delay: 300ms;
                background: $colorPrimary;
                li{
                    padding-bottom: 1rem!important;
                    padding-top: 1rem!important;
                }
                .sub-header {
                    height: 53px;
                    line-height: 53px;
                    background: #fff;
                    a,
                    button {
                        color: $colorPrimary;
                        font-size: 18px;
                    }
                    button {
                        @include size(50px, 53px);
                        position: absolute;
                        left: 0;
                        top: 0;
                        line-height: 53px;
                    }
                }
                &.active {
                    left: 0;
                }
            }
        }
    }
}