﻿.box-newsletter{
    padding: 23px 0;
    background: $color5;
    @media( max-width: 767px ){
        display: none!important;
    }
    .header{
        text-align: center;
        margin-bottom: 20px;
        img, h2{
            display: inline-block;
            vertical-align: middle;
        }
        img{
            margin-right: 12px;
        }
        h2{
            line-height: 23px;
            font-weight: $medium;
            font-size: 17px;
            color: #FFFFFF;
            letter-spacing: -0.17px;
        }
    }
    .form{
        width: 100%;
        position: relative;
        input{
            @include size(100%, 54px); 
            border: 0;
        }
        button{
            @include btn-default(#949494, $width: 100%, $height: 54px);
            margin-top: 10px;
        }
        .alert-message{
            margin-top: 10px;
            color: #fff;
        }
        @include media-queries('phone'){
            input{
                padding-right: 140px;   
            }
            button{
                width: 140px;
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 0;
            }
        }
        @include media-queries('phone-wide'){
            width: calc(100% - 315px);
        }
        @include media-queries('tablet'){
            width: calc(100% - 382px);
        }
    }
    .btn-contact{
        @include btn-default(#949494, $width: 195px, $height: 54px);
        margin-left: 30px;
        position: relative;
        img{
            vertical-align: middle;
            margin-right: 12px;
        }
        &::before{
            @include size(1px, 54px);
            content: '';
            position: absolute;
            top: 0;
            left: -30px;
            background: #fff;
        }
        @include media-queries('desktop'){
            width: 215px
        }
    }
    @include media-queries('phone-wide'){
        .header{
            text-align: left;
            margin-bottom: 0;
        }
    }
}