.department-range {
    h5 {
        @include title-default(18px, $mb: 20px);
        line-height: 32px;
        #filterRemove{
            display: none;
            line-height: inherit;
            color: $colorDanger;
            font-size: 16px;
        }
    }
    .noUiSlider {  
        .range-base {
            background: transparent;
            border: 0;
            box-shadow: none;
            height: auto;
            padding-right: 15px;
            .noUi-base {
                .noUi-connects {
                    height: 5px;
                    background: #E5E5E5;
                    .noUi-connect {
                        background: $colorSecondary;
                    }
                }
                .noUi-handle {
                    @include size(19px);
                    background: $colorSecondary;
                    border: 2px solid #ffffff;
                    box-shadow: none;
                    border-radius: 100%;
                    top: -7px;
                    &::before {
                        content: '';
                        @include size(5px);
                        @include center-absolute(true, 5px, true, 5px);
                        background: #ffffff;
                        border-radius: 100%;
                    }
                    &::after {
                        display: none;
                    }
                }
            }
        }
        .range-value {
            margin-top: 20px;
            >span {
                text-align: center;
                height: 40px;
                line-height: 40px;
            }
            .slider-value {
                font-size: 15px;
                width: 40%;
                color: $colorPrimary;
                font-weight: $bold;
                display: inline-block;
                border: 1px solid $colorBorder;
            }
            .divisor {
                width: 20%;
                font-size: 13px;
                color: #6f6f6f;
            }
        }
    }
    #filterRanger{
        display: none;
        @include btn-default($colorSecondary, #fff, $width: 100%, $height: 40px);
        margin: 15px auto 0;
        border: 0;
        cursor: pointer;
    }
}