.search-box {
    .busca {
        margin: 0;
        padding: 0;
        position: relative;
        legend,
        label,
        select {
            display: none;
        }
        .fulltext-search-box {
            width: 100%;
            padding: 0 60px 0 20px;
            border-radius: 33px;
        }
        .btn-buscar {
            @include size(53px, 33px);
            @extend %reset-btn;
            background: bg('icon-search.png', center);
            position: absolute;
            top: 0;
            right: 0;
            line-height: 33px;
            margin: 6px 0;
            border-left: 1px solid #979797;
            font-size: 0;
        }
    }
}