﻿#hotdealCounter{
    padding: 40px 0;
    background: #F4F4F4;
    text-align: center;
    .header{
        margin-bottom: 30px;
        h2{
            font-weight: $medium;
            font-size: 25px;
            color: $colorPrimary;
            letter-spacing: -0.1px;
            i{
                margin-right: 8px;
                font-size: 30px;
                color: $colorPrimary;
                letter-spacing: -0.12px;
                vertical-align: middle;
            }
            @include media-queries('phone'){
                font-size: 30px;
                i{
                    font-size: 36px;
                }
            }
        }
        p{
            position: relative;
            margin: 4px 0 2px;
            color: #AAAAAA;
            display: inline-block;
            &::after{
                @include size(17px, 24px);
                content: '';
                background: bg('icon-arrow.png');
                position: absolute;
                bottom: -25px;
                right: 0px;
                @media( min-width: 768px ){
                    right: -43px;
                }
            }
        }
        .timer{
            ul{
                li{
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: $medium;
                    font-size: 30px;
                    color: $colorPrimary;
                    letter-spacing: 0;
                    line-height: 39px;
                    small{
                        display: none;
                    }
                }
            }
        }
    }
    .showcase{

    }
}