﻿#page-home {
    #hotdealCounter {
        .showcase {
            margin: 0;
            h2 {
                display: none;
            }
            .ad-showcase-product {
                border-radius: 3px;
            }
        }
    }
}

// main{
//     .showcase{
//         .slick-arrow.slick-prev{
//             left: 15px;
//         }
//         .slick-arrow.slick-next{
//             right: 15px;
//         }
//     }
// }

.showcase {
    margin: 30px 0 0;

    .admake-showcase {
        >div {
            >ul {
                margin: 0;
                >li {
                    display: inline-block;
                    vertical-align: top;
                    padding: 10px 5px;
                    width: 100%;
                    @include media-queries('phone') {
                        width: 50%;
                    }
                    @include media-queries('tablet') {
                        padding: 10px 0;
                        width: 33%;
                    }
                }
            }
        }
    }
    h2 {
        @include title-default($fs: 18px, $mb: 30px);
        display: block;
        text-align: center;
        text-transform: uppercase;
        &::after {
            @include size(120px, 4px);
            content: '';
            display: block;
            background: $colorPrimary;
            margin: 3px auto 0;
        }
    }
    ul {
        margin: 0 -5px;
        @media( min-width: 768px ){
            margin: 0 -15px;
        }
        li {
            padding: 0 5px;
            @media( min-width: 768px ){
                padding: 0 15px;
            }
        }
    }
    .ad-showcase-product {
        position: relative;
        padding: 10px;
        background: #fff;
        border-radius: 3px;
        text-align: left;
        @media( min-width: 768px ){
            padding: 25px 20px;
        }
        .ts-shelf-container .ts-shelf-rate-disabled{
            @media( max-width: 767px ){
                display: none;
            }
        }
        .product-flags {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            .flag {
                @extend %flag;
                display: table;
                margin-bottom: 2px;
            }
        }
        .product-image {
            // position: relative;
            margin-bottom: 20px;
            position: relative;
            img {
                max-width: 100%;
                height: auto;
                margin: auto;
            }
        }
        .product-rating {
            margin-bottom: 15px;
        }
        .product-buy {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0;
            overflow: hidden;
            transition: 300ms all;
            opacity: 1;
            visibility: hidden;
            a {
                @include btn-default($colorSuccess, #fff, 15px, $width: 100%, $height: 50px); // font-size: 0;
                display: block;
            }
            @include media-queries('tablet', max){
                display: none!important;
            }
        }
        .product-name {
            a {
                display: block;
                font-weight: $medium;
                font-size: 13px;
                color: #000000;
                letter-spacing: 0.1px;
                line-height: 18px;
                min-height: 55px;
                margin-bottom: 10px;
            }
        }
        .product-price {
            min-height: 56px;
            a {
                display: inline-block;
                .old-price,
                .best-price,
                .installment {
                    display: block;
                }
                .old-price,
                .installment {
                    font-size: 12px;
                    color: #AAAAAA;
                    letter-spacing: 0.1px;
                }
                .old-price {
                    text-decoration: line-through;
                }
                .best-price {
                    font-weight: $bold;
                    font-size: 17px;
                    line-height: 20px;
                    color: $colorPrimary;
                    letter-spacing: 0.1px;
                    margin: 3px 0;
                    i{
                        font-size: 15px;
                        padding: 1px 4px;
                        border: 1px solid $colorPrimary;
                        vertical-align: middle;
                    }
                    small{
                        font-size: 14px;
                        color: $colorPrimary;
                        font-weight: $bold;
                    }
                    @media( min-width: 768px ){
                        font-size: 22px;
                        line-height: 25px;
                    }
                }
                .installment {
                    font-size: 12px;
                    color: #AAAAAA;
                    letter-spacing: 0.1px;
                    strong {
                        font-weight: $medium;
                        color: #5A5E67;
                    }
                }
            }
        }
        &.out-of-stock {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            .msg-out-of-stock {
                @include size(100%, 56px);
                @include title-default(16px, #fff, 0);
                text-align: center;
                line-height: 56px;
                background: #aaa;
            }
        }
        &:hover {
            .product-buy {
                height: 50px;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    @include media-queries('phone-wide') {
        margin: 55px 0 0;
        h2 {
            font-size: 20px;
            margin-bottom: 45px;
            text-align: left;
            &::after{
                margin: 3px 0 0;
            }
        }
    }
}