﻿/** AUTOCOMPLETE SEARCH **/
.ui-autocomplete{
    padding: 15px 30px;
    background: $colorWhite;
    list-style: none;
    max-width: 540px;    
    margin: 0;
    border-top: 1px solid $colorSecondary;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
    background-color: #fff;
    z-index: 9999!important;
    @media( max-width: 1199px ){
        left: 0!important;
        right: 0!important;
        width: auto!important;
        max-width: 100%!important;
    }
    .ui-menu-item{
        display: block;
        padding: 15px 0;
        a{
            background: transparent;
            font-size: 14px;
            color: $color3;
            cursor: pointer;
            img{
                display: none;
                vertical-align: middle;
                margin-right: 40px;
                width: 90px;
                height: 90px;
            }
            &:hover{
                color: $colorPrimary;
            }
        }
    }
}
/** AUTOCOMPLETE SEARCH **/
