// VTEX ID
#vtexIdContainer .vtexIdUI{
	box-shadow: 0 0 0 transparent;
	border-radius: 0;
}
#vtexIdContainer{
	.modal-header{
		display: block;
	}
	.vtexIdUI-close{
		right: 0;
		margin: 0;
	}
}
#vtexIdUI-auth-selector{
	.modal-header{
		display: block;
		text-align: center;
		.vtexIdUI-heading{
			> span{

			}
		}
	}
	.modal-body{
		.vtexIdUI-providers-list{
			&:hover{
				.btn{
					opacity: .4;
				}
			}
			> li{
				.btn{
					border: 0 none;
					border-radius: 0;
					background: #e6e6e6;
					box-shadow: 0 0 0 transparent;
					text-shadow: 0 0 0 transparent;
					height: 45px;
					width: 100%;
					padding: 0 0 0 45px;
					text-align: left;
					i{
						width: 45px;
						height: 45px;
						left: 0;
						top: 0;
						text-align: center;
						opacity: 1;
						&:before{
							@include fontAwesome("\f0e0", $color: #fff, $size: 25px);
							@include media-queries('phone-wide', max){
								font-size: 20px;
							}
						}
					}
					p,
					span{
						margin: 0;
						color: #fff;
						font-size: 15px;
						line-height: 15px;
						font-weight: 500;
						text-align: left;
						@include media-queries('phone', max){
							font-size: 11px;
						}
					}
					&:hover{
						opacity: 1;
					}
				}
				#loginWithAccessKeyBtn{
					background-color: $color3;
					i{
						&:before{
							content: "\f0e0";
							line-height: 45px;
						}
					}
				}
				#vtexIdUI-facebook{
					background-color: #475D98;
					i{
						&:before{
							content: "\f082";
							color: #fff;
							font: 300 25px Font Awesome\ 5 Brands;
							line-height: 45px;
						}
					}
				}
				#vtexIdUI-google-plus{
					background-color: #E25C4F;
					i{
						&:before{
							content: "\f0d5";
							color: #fff;
							font: 300 25px Font Awesome\ 5 Brands;
							line-height: 45px;
						}
					}
				}
				#loginWithUserAndPasswordBtn{
					background-color: $colorSecondary;
					&:before{
						@include fontAwesome("\f084", $color: #fff, $size: 25px);
						@include size(45px);
						position: absolute;
						left: 0;
						top: 0;
						opacity: 1;
						text-align: center;
						line-height: 45px;
						@include media-queries('phone-wide', max){
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}